:root{
          --bg:#82708db4,#9c7c9a6c;
            --yellow:#f2e2ef;
        --teal:#70518c;
        --lteal:#b856d477;
        --blue:#4e307f;
        --highlightteal:#ffc1fca3;
        }
p,i,li{
  text-shadow: 1px 1px var(--lteal);
}
article {
    border-radius: 1px;
    border: 2px solid var(--yellow);
  padding: 3px;
  background:none;
  filter: drop-shadow(5px 5px 2px var(--shadow));
  box-shadow: none;
}
article > h1{
  background:var(--yellow);
}
.inner{
  background:var(--yellow);
}
.prof {
  margin: 10px auto;
  height: 140px;
  aspect-ratio:1/1;
  border: 5px double #fff;
  border-radius: 15px;
  filter: drop-shadow(4px 4px var(--highlightteal));
  }
.prof img{
  border-radius: 10px;
}
.row{
  display: flex;
  flex-wrap: wrap;
  border: 5px double var(--teal);
  margin: 15px auto;
  border-radius: 5px;
}
.col .prof:hover {
    translate: 2px 2px;
    filter: drop-shadow(2px 2px var(--highlightteal));
}
.col{
	flex: 0 0 20%;
    max-width: 20%;
}
.col h2{
  text-align: center;
}
@media (max-width: 1200px){
	.col{
	flex: 0 0 33%;
    max-width: 33%;
}
}

@media (max-width: 800px){
  .col {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 500px){
	.col .prof {
    height: 100px;
}
}
.relChar{
  margin:5px 0;
  transition: transform 0.6s;
  position: relative;
  transform-style: preserve-3d;
}
.relChar:has(.info input:checked){
  transform: rotateY(180deg);
}
.relFront{
  display:flex;
  -webkit-transform:rotateY(0deg);
}
.relFront,.relBack{
  border-radius: 5px;
  background: linear-gradient(var(--highlightteal), transparent 150%);
  border: 1px solid;
  filter:var(--dropshadow);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: 100%;
}
.info{
  margin:auto;
  color:var(--blue);
  width: calc(100% - 90px);
  padding: 5px 0;
}
.relBack{
  position: absolute;
  top:0;
  transform: rotateY(180deg);
  width: 100%;
}
.relBack p{
  padding: 5px;
  margin: 0;
  border-radius: 0 0 5px 5px;
  color:var(--blue);
  text-shadow: none;
  overflow-y: scroll;
  height:calc(100% - 10px);
}
.relChar label{
  position: absolute;
  right: 0;
  bottom: 0;
  background: none;
  border: none;
  cursor: pointer;
  padding: 2px;
  animation-name: hint;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-timing-function: linear;
}
.relChar label:hover{
  translate: 0 0;
  animation-play-state: paused;
}
@keyframes hint{
  0%{
    translate:-1px -1px;
  }
  49.9%{
    translate:-1px -1px;
  }
  50%{
    translate: 0px 0px;
  }
  100%{
    translate: 0px 0px;
  }
}
.relChar label:after {
  content: "";
  width:15px;
  height: 15px;
  mask-image: url("/assets/Triangle_corner.svg");
  background: var(--blue);
  display: block;
  font-size: 1.5em;
  transition: background 0.5s;
}
.relChar label:hover:after{
  background: var(--teal);
}
.relChar input{
  display:none;
}
.relChar h2{
  font-size: 1.25em;
  margin:0 auto;
  margin-bottom: 5px;
}
.relFront p{
  color:var(--blue);
  margin: 0;
}
.icon{
  background: linear-gradient(var(--teal), var(--blue));
  padding:5px;
  border-radius: 5px 0;
}
.icon a {
  background: var(--yellow);
  display: block;
  border-radius: 5px;
  transition:filter 0.5s;
}

.icon a:hover {
    filter: brightness(1.1) saturate(1.2);
}

.icon a img{
  image-rendering: pixelated;
  height:64px;
  width:64px;
  transition: scale 0.5s;
}
.icon a:hover img{
    scale:1.2;
}

h3 a{
  color:var(--blue);
}

/*Hidden char rels*/
.relChar.pop{
  display:none;
}
.Rel:hover{
  cursor:pointer;
}

/*Playlist stuff*/
#playlist{
  border-radius: 0;
  background:linear-gradient(var(--yellow),#a8b8c3 150%);
  box-shadow: 4px 4px 4px 2px var(--shadow);
  border-radius: 2.5px;
  border:0;
  outline:0;
  padding:0;
  padding-bottom: 10px;
  overflow: hidden;
}

#playlist h1{
  border-bottom: 1px solid var(--lteal);
  background: linear-gradient(var(--yellow),#a8b8c3 150%);text-shadow: 1px 1px var(--lteal);
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
}
#playlist .tit h2:before{
  content:"♫ ";
}
#playlist .tit h2:after{
  content:" ♬";
}
#playlist .song{
  margin: 10px 20px;
  border: 1px solid;
  border-radius: 5px;
  background: black;
  --teal: white;
    color: white;
}
#playlist li {
  filter: drop-shadow(3px 3px 5px var(--highlightteal)) drop-shadow(-3px -3px 5px var(--highlightteal));
  border-bottom: 1px solid white;
  padding:5px 0;
}
#playlist li:first-child:after{
  content: "♪";
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: note;
    display: inline-block;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    scale:1.1;
}
#playlist a:hover {
  color: var(--lteal);
}
#playbuttons{
  display:flex;
  margin:0 20px;
}
#playbuttons button {
  max-width: 33.333%;
  flex: 0 0 33.333%;
  border:1.5px solid;
  border-radius: 2.5px;
  background: linear-gradient(var(--yellow),#a8b8c3 150%);
  cursor:pointer;
  filter: var(--dropshadow);
  padding:2.5px 0;
}
#playbuttons button:hover {
  filter: brightness(0.9) saturate(1.2) var(--dropshadowdown);
  translate: 1px 1px;
}
@keyframes note{
  0%{
    translate: 0 2px;
  }
  100%{
    translate:0 -2px;
  }
}