p,i,li{
  text-shadow: 1px 1px var(--lteal);
}
article{
            border-radius: 2.5px;
        }
.prof {
  margin: 10px auto;
  height: 140px;
  aspect-ratio:1/1;
  border: 5px double #fff;
  border-radius: 15px;
  filter: drop-shadow(4px 4px var(--highlightteal));
  }
.prof img{
  border-radius: 10px;
}
.row{
  border-width: 5px;
}
.col .prof:hover {
    translate: 2px 2px;
    filter: drop-shadow(2px 2px var(--highlightteal));
}
.col{
	flex: 0 0 20%;
    max-width: 20%;
}
.col h2{
  text-align: center;
}
@media (max-width: 1200px){
	.col{
	flex: 0 0 33%;
    max-width: 33%;
}
}

@media (max-width: 800px){
  .col {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 500px){
	.col .prof {
    height: 100px;
}
}
.relChar{
  border-radius: 5px;
  background: linear-gradient(var(--highlightteal), transparent 150%);
  overflow: hidden;
  filter:var(--dropshadow);
  margin:5px 0;
  border: 1px solid;
}
.relContain{
  display:flex;
}
.relChar h3{
  margin:12.5px auto;
}
.relChar span{
  margin:auto;
  color:var(--blue);
  width: calc(100% - 90px);
  padding: 5px 0;
}
.relChar h3{
  margin:5px auto;
}
.icon{
  background: linear-gradient(var(--teal), var(--blue));
  padding:5px;
  border-radius: 5px 0;
}
.icon a {
  background: var(--yellow);
  display: block;
  border-radius: 5px;
  transition:filter 0.5s;
}

.icon a:hover {
    filter: brightness(1.1) saturate(1.2);
}

.icon a img{
  image-rendering: pixelated;
  height:64px;
  width:64px;
  transition: scale 0.5s;
}
.icon a:hover img{
    scale:1.2;
}

h3 a{
  color:var(--blue);
}

.relChar button{
  width:-webkit-fill-available;
  width:-moz-available;
  margin:2px;
  background: var(--yellow);
  border:1px solid var(--blue);
  color:var(--blue);
  border-radius: 5px;
  cursor:pointer;
}
.relChar button:hover{
  background: var(--teal);
  color:var(--dblue);
}
.impression{
  max-height: 0;
  min-height:0;
  overflow: hidden;
  transition: min-height 0.5s,max-height 0.5s;
}
.impression p{
  border: 1.75px dashed var(--lteal);
  border-top: none;
  margin: 0;
  padding: 5px;
  border-radius: 0 0 5px 5px;
}
.impression.impressactive{
  max-height:500px;
}
.relChar.pop{
  display:none;
}
.Rel:hover{
  cursor:pointer;
}

/*Playlist stuff*/
#playlist{
  border-radius: 0;
  background:linear-gradient(var(--yellow),#a8b8c3 150%);
  box-shadow: 4px 4px 4px 2px var(--shadow);
  border-radius: 2.5px;
}

#playlist h1{
  border-bottom: 1px solid var(--lteal);
  background: linear-gradient(var(--yellow),#a8b8c3 150%);text-shadow: 1px 1px var(--lteal);
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
}
#playlist .tit h2:before{
  content:"♫ ";
}
#playlist .tit h2:after{
  content:" ♬";
}
#playlist .song{
  margin: 10px 20px;
  border: 1px solid;
  border-radius: 5px;
  background: black;
  --teal: white;
    color: white;
}
#playlist li {
  filter: drop-shadow(3px 3px 5px var(--highlightteal)) drop-shadow(-3px -3px 5px var(--highlightteal));
  border-bottom: 1px solid white;
  padding:5px 0;
}
#playlist li:first-child:after{
  content: "♪";
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: note;
    display: inline-block;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    scale:1.1;
}
#playlist a:hover {
  color: var(--lteal);
}
#playbuttons{
  display:flex;
  margin:10px 20px;
}
#playbuttons button {
  max-width: 33.333%;
  flex: 0 0 33.333%;
  border:1.5px solid;
  border-radius: 2.5px;
  background: linear-gradient(var(--yellow),#a8b8c3 150%);
  cursor:pointer;
  filter: var(--dropshadow);
  padding:2.5px 0;
}
#playbuttons button:hover {
  filter: brightness(0.9) saturate(1.2) var(--dropshadowdown);
  translate: 1px 1px;
}
@keyframes note{
  0%{
    translate: 0 2px;
  }
  100%{
    translate:0 -2px;
  }
}