---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - blog
permalink: /blog/{{ tag }}.html
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache">
    <title>KiwiMeowo's Blog Archive</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico?">
    <link href="/style.css" rel="stylesheet" type="text/css" media="all">
    <link href="/emote.css" rel="stylesheet" type="text/css" media="all">
    <link href="blog.css" rel="stylesheet" type="text/css" media="all">
    <link href="../style-my-tooltips.css" rel="stylesheet" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <script src="../jquery.style-my-tooltips.js"></script>
  </head>
 <body class="simple">
    <nav>
      <a href="/index.html" style="--svg:url(/assets/home.svg)"></a>
      <a href="index.html">Blog</a>
      <a href="blogmap.html">Blog Map</a>
  </nav>
    <div class="inner min blog">
    {% for post in collections[ tag ] | reverse %}
        <a href="{{ post.url }}" class="collapsible{% if post.data.style or post.data.deco %} special{% endif %}" title="{{ post.data.filter }}" {% if post.data.style %}style="{{ post.data.style }}"{% endif %}>{{ post.data.title | safe }} <span class="blogdate">( {{ post.data.date | datestring }} )</span><hr><span class="blogpreviewtag">Tags: {{ post.data.filter }}</span>{{ post.data.deco | safe }}</a>
        {% endfor %}
          </div>
</body>
</html>