<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KiwiMeowo - {{ title | safe }}</title>
    <link rel="icon" type="image/x-icon" href="../../../favicon.ico?">
    <link href="../../../style.css" rel="stylesheet" type="text/css" media="all">
    <link href="../../blog.css" rel="stylesheet" type="text/css" media="all">
    <link href="../../../style-my-tooltips.css" rel="stylesheet" type="text/css">
    <link type="text/css" rel="stylesheet" href="../../../comment-widget-pink.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <script src="../../../jquery.style-my-tooltips.js"></script>
  </head>
 <body>
    <nav>
      <a href="../../../index.html">Home</a>
      <a href="../../index.html">Blog</a>
  </nav>
  <div class="blognav">
  {% set previousPost = collections.blog | getPreviousCollectionItem %}
        {% set nextPost = collections.blog | getNextCollectionItem %}
      {% if previousPost %}<a href="{{ previousPost.url }}">{% endif %}<span>⭠ Previous</span>{% if previousPost %}</a>{% endif %}
        <a href="../../index.html"><span>Return</span></a>
        {% if nextPost %}<a href="{{ nextPost.url }}">{% endif %}<span>Next ⭢</span>{% if nextPost %}</a>{% endif %}
  </div>
  <main>
    <section class="wide">
      <article><h1>{{ title | safe }}</h1>
      <div class="inner min">
      <h1>{{ subtitle }}</h1>
      <div class="statusbox">
        <p>Weather: {{ weather }}</p>
        <p>Listening to: {% if not nosong %}<a href="{{ songlink }}" target="_blank" title="{{ songcomment }}">{{ songname }}</a>{% else %}{{ nosong }}{% endif %}</p>
        <p>Mood: {{ mood }}</p>
        <p>Random thought: {{ thought | safe }}</p>
        </div>
        <p class="blogtag"><span>Tags: {{ filter }}</span></p>
        {{ content | safe }}
        {% if credit %}
        <div class="blogcredit">
        <h2>Credits/Reference:</h2>
        <ul>
        {{ credit | safe }}
        </ul>
        </div>
        {% endif %}
        <p class="date">( {{ date | datestring }} )</p>
        <hr>
      </div>
      </article>
      <div id="c_widget"></div>
    <script src="../../../comment-widget.js"></script>
    </section>
    </main>
  <script src="../../../spoiler.js"></script>
</body>
</html>