<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="icon" type="image/x-icon" href="../../favicon.ico?">
    <link href="../../style.css" rel="stylesheet" type="text/css" media="all">
    <link href="../../style-my-tooltips.css" rel="stylesheet" type="text/css">
    <link type="text/css" rel="stylesheet" href="../../comment-widget-pink.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <script src="../../jquery.style-my-tooltips.js"></script>
    <style>
    .page-wrapper{background: linear-gradient(#0b263b75, #1f084e73 150%), url(../../fancy1.png);}
    :root{--yellow:#E2DBC7;--lteal:#9db5b7;--highlightteal:#B7CBD6;--teal:#1C3F5C;--blue:#0E1A36;--dblue:#000527;--shadow:#1b357082;}
    </style>
  </head>
 <body><span id="top"></span>
    <div class="quick-nav">
    <div class="navbar">
      <a href="../../index.html">Home</a>
      <a href="../index.html">Blog</a>
    </div>
  </div>
  <div class="page-wrapper">
    <div class="main2">
      <div class="box"><div class="tit"><h1>{{ title }}</h1></div><div class="inner min">
      <h1>{{ subtitle }}</h1>
      <div class="statusbox">
        <p>Weather: {{ weather }}</p>
        <p>Listening to: {% if not nosong %}<a href="{{ songlink }}" target="_blank" title="{{ songcomment }}">{{ songname }}</a>{% else %}{{ nosong }}{% endif %}</p>
        <p>Mood: {{ mood }}</p>
        <p>Random thought: {{ thought | safe }}</p>
        </div>
        <div class="text">
        {{ content | safe }}
        </div>
        {% if credit %}
        <div class="blogcredit">
        <h2>Credits/Reference:</h2>
        <ul>
        {{ credit | safe }}
        </ul>
        </div>
        {% endif %}
        <p class="date">( {{ blogdate }} )</p>
        <hr>
        <div class="blogend">
        {% set previousPost = collections.blog | getPreviousCollectionItem %}
        {% set nextPost = collections.blog | getNextCollectionItem %}
        {% if previousPost %}<a href="{{ previousPost.url }}">{% endif %}<span>⭠ Previous</span>{% if previousPost %}</a>{% endif %}
        <a href="../index.html">Return</a>
        {% if nextPost %}<a href="{{ nextPost.url }}">{% endif %}<span>Next ⭢</span>{% if nextPost %}</a>{% endif %}
        </div>
      </div></div>
      <div id="c_widget"></div>
    <script src="../../comment-widget.js"></script>
    </div>
    </div>
  <script src="../../e.js"></script>
  <script src="../../spoiler.js"></script>
</body>
</html>