---json
{
  "permalink": "blog/dreams/feed.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "Kiwi's Dream Feed",
    "description": "Not sure if anyone is remotely interested in this blog",
    "language": "en",
    "base": "https://kiwimeowo.neocities.org/"
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet href="/feed.css"?>
<?xml-stylesheet href="feed.css"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
<channel>
<atom:link href="{{ metadata.base }}{{ permalink }}" rel="self" />
  <title>{{ metadata.title }}</title>
  <link>https://kiwimeowo.neocities.org/blog/dreams/index.html</link>
  <description>{{ metadata.description }}</description>
  {%- set ten = dreams.dreams %}
  {%- for post in ten | limit(10) %}
  <item>
    <title>{{ post.date }}</title>
    <link>https://kiwimeowo.neocities.org/blog/dreams/index.html</link>
    <guid>https://kiwimeowo.neocities.org/blog/dreams/index.html</guid>
    <description><![CDATA[<p>Category: {{ post.category }} | Rating: {{ post.rating }}</p>{{ post.detail | safe }}]]></description>
    <pubDate>{{ post.date | dateToRfc822 }}</pubDate>
  </item>
  {%- endfor %}
</channel>
</rss>