<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My lovely OCs~</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico?">
    <link href="/style.css" rel="stylesheet" type="text/css" media="all">
    <link href="/emote.css" rel="stylesheet" type="text/css" media="all">
    <link href="/oc/oc.css" rel="stylesheet" type="text/css" media="all">
    <link href="/style-my-tooltips.css" rel="stylesheet" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <script src="/jquery.style-my-tooltips.js"></script>
    <style>
    {{ style }}
    </style>
  </head>
 <body>
  <nav>
    <a href="/index.html" style="--svg:url(/assets/home.svg)"></a>
    <a href="../../index.html">Worlds</a>
    <a href="../index.html">Back</a>
    {% if special %}
    <a href="#intro">Intro</a>
    <a href="#reference">Ref</a>
    {% endif %}
  </nav>
  {% if special %}
  <main id="splashscreen">
      <aside>
        <img src="sprite.png" alt="{{ name }}">
      </aside>
      <section>
        <div class="chartitle">
          <h1>{{ name }}</h1>
        <h2>{{ special }}</h2>
        </div>
        <article><h1>"{{ dialog }}"</h1>
          <div class="inner">
            <center><i>"{{ desc | safe }}"</i></center>
          </div>
        </article>
      </section>
    </main>
    <hr>
  {% endif %}
  <main>
    <aside>
      <article><div class="inner">
      <div class="prof"><img src="{% if icon=="png" %}icon.png{% elif icon=="jpg" %}icon.jpg{% else %}/oc/wip.jpg{% endif %}"></div>
	    <p>Name: <mark>{{ name }} ({{ pronouns }})</mark></p>
	    <p>Birthday: {{ birthday }}</p>
	    <p>Height: {{ height }} cm</p>
      {% if element %}<p>Element: {{ element }}</p>{% endif %}
      <hr>
      <h2>Likes</h2>
      <ul>
      {% for like in likes %}
        <li>{{ like | safe }}</li>
        {% endfor %}
      </ul>
      <h2>Dislikes</h2>
      <ul>
      {% for dislike in dislikes %}
        <li>{{ dislike | safe }}</li>
        {% endfor %}
      </ul>
      </div></article>
      {% if relations %}
      <article><h1>Relations</h1><div class="inner">
      <div id="rels">
        {% for relation in relations %}
      {% if relation.secret %}<button onclick="unhideRel(this,'{{ relation.name | underscore }}')" class="secret">???</button>{% endif %}
        <div class="relChar{% if relation.secret %} pop{% endif %}" id="{{ relation.name | underscore }}">
          <div class="relFront">
          <div class="icon"><a href="../{{ relation.name | underscore }}/index.html"><img src="../{{ relation.name | underscore }}/chatprof.png"></a></div>
          <div class="info"><h2><a href="../{{ relation.name | underscore }}/index.html">{{ relation.name }}:</a></h2><p>{{ relation.rank }}</p><label><input type="radio" name="{{ relation.name | underscore }}"></label></div>
        </div>
        <div class="relBack">
          <p>"{{ relation.text }}"</p>
          <label><input type="radio" name="{{ relation.name | underscore }}"></label>
        </div>
        </div>
        {% endfor %}
        <label><input type="checkbox" name="rels"></label>
        </div>
        </div>
        </article>
        {% endif%}
        {% if songs %}
        <article id="playlist">
        <h1>Playlist</h1>
        <div class="inner song">
        {% for song in songs %}
        <li><a href="{{ song.link }}" target="_blank">{{ song.title }}</a></li>
        {% endfor %}
        </div>
        <div id="playbuttons">
          <button>⇤</button>
          <button>▶</button>
          <button>⇥</button>
        </div>
      </article>
      {% endif%}
    </aside>
    
    <section>
      <article>{% if not special %}<h1>{{ dialog }}</h1>{% endif %}<div class="inner min">
        {% if ref %}<img src="ref.png">{% endif %}
        {% if not special %}
        <center><i>"{{ desc | safe }}"</i></center>
	      {% endif %}
        <hr>
          <div class="facts">
            <div>
              <h2>Lore facts:</h2>
              <ul>
              {% for lorefact in lorefacts %}
          <li>{{ lorefact | safe }}</li>
          {% endfor %}
          </ul>
            </div>
        <hr>
        <div>
          <h2>Meta facts:</h2>
          <ul>
          {% for metafact in metafacts %}
          <li>{{ metafact | safe }}</li>
          {% endfor %}
          </ul>
        </div>
          </div>
        <hr>
        </div></article>
        {% if gallery %}
      <article><h1>Gallery</h1><div class="inner">
      <div class="art">
      {% for art in gallery%}
      {{ art | safe }}
      {% endfor%}
      </div>
      </div></article>
      {% endif %}
      </section>
</main>
<script src="/oc/oc.js"></script>
  <script src="/viewer.js"></script>
</body>
</html>