<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico?">
    <link href="/style.css" rel="stylesheet" type="text/css" media="all">
    <link href="/emote.css" rel="stylesheet" type="text/css" media="all">
    <link href="/oc/fic.css" rel="stylesheet" type="text/css" media="all">
  </head>
 <body>
  <nav>
      <a href="/index.html" style="--svg:url(/assets/home.svg)"></a>
      <a href="../../index.html">OC index</a>
      <a href="../index.html">UtSS</a>
      <a href="index.html">Back</a>
    </nav>

  <main>
    <section class="wide">
      <article><h1>{{ title }}</h1>
      <div class="inner">
        <div class="text">
          <p class="tags">Tags: {% for tag in WritingTags %}<u>{{ tag }}</u>{% endfor %}</p>
          <p>{{ desc | safe }}</p>
          {% if authornotes %}
          <hr>
          <h2>Author Notes:</h2>
          {{ authornotes | safe }}
          {% endif %}
        </div>
        <hr>
        <p class="date">Words: {{ content | wordCount }} | Written in: {{ WritingDate }}</p>
      </div>
    </article>
      <article>
        <div class="inner">
        {{ content | safe }}
        <hr>
      </div>
    </article>
</section>
</main>
</body>
</html>