node_modules/
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
public/JSedit.html
public/art/comic/template.html
**/test.html
**/old.html
public/fixations/microblog
public/oc/writing/
public/fixations/PHXS.html
public/art/ArtFight/template
templates/blog/2026/2nd/06-19.html