:root {
    --yellow: #f4e2e0;
    --lteal: #e444444f;
    --teal: #9b4740;
    --highlightteal:#ffa0a0d1;
    --blue: #781007;
    --dblue: #480702;
    --shadow:#4304047a;
    --gradient1: #ffa6a6d1;
  --gradient2: #fee4ff33;
}
.title{
    border-left-color:#84261e;
    border-top-color:#84261e;
  }
header{
  background: linear-gradient(#5d10103b,#5d10103b), url(deco/CR/Arson.png);
    background-size: cover;
    background-position: center 60%;
}
.title-pic{
  content: url(deco/CR/pomg.png);
  margin-left: 100px;
  left: 0;
  margin-right: 0;
}
.title-text {
  padding-right: 0;
  padding-left: 220px;
  text-align: left;
}
@media (max-width: 600px) {
  .title-text {
    padding-left: 140px;
    width: calc(100% - 140px);
  }
}
@media (max-width: 1200px) {
  .title-pic {
    margin-left: 7vw;
  }
}
  .bar {
    background: linear-gradient(0.25turn, #e6454538,#f2828221);
}
.bar:hover, .bar:focus{
  cursor:pointer;
  background: linear-gradient(0.25turn, #c1111154,#c1111126);
}
main{
    background:linear-gradient(#af271ca3, #c52c4385 75%), url(/assets/fancy.png)
    }
  ::-webkit-scrollbar-track {
  background-color: #b1251a;
  }

    ::-webkit-scrollbar-thumb {
  border-color:#b1251a;
  }
.prof {
    margin: 10px auto;
    height: 140px;
    aspect-ratio: 1 / 1;
    border: 5px double #fff;
    border-radius: 15px;
    filter: drop-shadow(4px 4px var(--highlightteal));
}
.prof img{
  border-radius: 10px;
}
.charcontain{
    display:flex;
  }
  .char{
      min-width:250px;
  }
  .charhr{
    margin:0 15px;
  }
  @media(max-width:800px){
    .charcontain{
    display:block;
  }
  .charhr{
    margin:15px auto;
  }
  }