---
layout: UpdateLog.njk
sample:
  - {'infos':['text'],'date':'xx xxx 2026'}
logs: 
  - {'infos':['I now use Google Sheets for my Pic Feed instead of BlueSky!','I now use pagination in 11ty to generate my updatelog pages'],'date':'14 Jul 2026'}
  - {'infos':['Added <a href="oc/other/Carnelian/index.html">Carenlian</a> to my OC page'],'date':'6 Jul 2026'}
  - {'infos':['Added <a href="blog/dreams/feed.xml">dream rss</a>'],'date':'16 Jun 2026'}
  - {'infos':['New <a href="blog/dreams/index.html">Dreams page</a>'],'date':'14 Jun 2026'}
  - {'infos':['<a href="oc/UtSS/Cyan/index.html">Cyan</a> is here!'],'date':'11 Jun 2026'}
  - {'infos':['Say hi to <a href="oc/UtSS/Ember/index.html">Ember</a>! Wow I did so much refs in a short time!'],'date':'10 Jun 2026'}
  - {'infos':['<a href="oc/UtSS/Crystel/index.html">Crystel</a>&apos;s page now has icon and reference!'],'date':'28 May 2026'}
  - {'infos':['<a href="oc/UtSS/Crystal/index.html">Crystal</a>&apos;s page now has icon and reference!'],'date':'27 May 2026'}
  - {'infos':['Added the <a href="oc/UtSS/Ruth/index.html">special section</a> for Ruth'],'date':'13 May 2026'}
  - {'infos':['New <a href="oc/other/Cupcake/index.html">Cupcake page</a>'],'date':'12 May 2026'}
  - {'infos':['Changed lightbox so that it also shows videos too.','Added <a href="fixations/shrines/TomodachiLife.html">Tomodaachi Life page</a>'],'date':'20 Apr 2026'}
  - {'infos':['Added back Chattable'],'date':'10 Apr 2026'}
  - {'infos':['Something interesting about the character icons... (April Fools)'],'date':'1 Apr 2026'}
  - {'infos':['Added noscript tags to various pages'],'date':'26 Mar 2026'}
  - {'infos':['Added tag system in art galleries, available in 2026 only'],'date':'25 Mar 2026'}
  - {'infos':['Changed Luna&apos;s page to <a href="oc/DW/StoryTeller/index.html">StoryTeller</a>, also a lot of moving stuff, broken pages beware'],'date':'20 Mar 2026'}
  - {'infos':['Added <a href="animals/HKBirds.html">Hong Kong birds page</a>, hamster directory changed to animals.'],'date':'19 Mar 2026'}
  - {'infos':['Move OC folders around again, now the files are sorted by OC names instead of image purposes. Also, main characters such as Lavender will get a special art. Wow I got a 5 star Lavender, or whatever.'],'date':'7 Mar 2026'}
  - {'infos':['Honestly doubt I&apos;d find CRK players without a guild here, but I have added a <a href="fixations/PHXS.html">recuitment page for my guild anyways</a>'],'date':'3 Mar 2026'}
  - {'infos':['Modifed blog comment css'],'date':'1 Mar 2026'}
  - {'infos':['Added site map to the nav section'],'date':'28 Feb 2026'}
  - {'infos':['Changed the page format in art pages'],'date':'24 Feb 2026'}
  - {'infos':['Added <a href="fixations/shrines/Wobbledogs.html">Wobbledogs</a> page.'],'date':'6 Feb 2026'}
  - {'infos':['<a href="oc/UtSS/story/A_Shimmer_of_Change.html">New Grey and Claire lore let&apos;s go!!</a>','Moved story section into UtSS section'],'date':'4 Feb 2026'}
  - {'infos':['Added <a href="oc/UtSS/Crystal.html">Crystal</a> and  <a href="oc/UtSS/Crystel.html">Crystel</a> OC pages','Made the OC gallery section to be fully showing instead of a horizontal scroller'],'date':'1 Feb 2026'}
  - {'infos':['Added <a href="fixations/shrines/HuntCook.html">HuntCook shrine</a>','Replace doodleboard with my BlueSky feed'],'date':'27 Jan 2026'}
  - {'infos':['Added <a href="fixations/whoremembers.html">Iconic Moments page</a>.'],'date':'20 Jan 2026'}
  - {'infos':['Swapped &lt;u&gt; into &lt;mark&gt; to make tags more accurate, please don&apos;t break please don&apos;t break','Rewrite of <a href="oc/story/A_Guitar_in_the_Lonely_Room.html">Jaspers&apos; backstory</a>, it was too corny and I kept cringing, so I made it more melancholic like it should&apos;ve been','<a href="oc/story/Cold_Weather_Habits.html">New writing</a> holy moly'],'date':'8 Jan 2026'}
  - {'infos':['Added fanlistings'],'date':'2 Jan 2026'}
  - {'infos':['Added new chattable box... But I accidentally broke it cuz my live preview kept refreshing'],'date':'1 Jan 2026'}
  - {'infos':['Added a theme toggler which changes depending on what time is in Hong Kong, this function is currently limited to the index page'],'date':'30 Dec 2025'}
  - {'infos':['Added Cookie Run webring','Moved webring section to <a href="bookmark.html">bookmark page</a>, I don&apos;t want to cram the sidebar everytime I join a new webring'],'date':'28 Dec 2025'}
  - {'infos':['Added Last.fm widget'],'date':'28 Dec 2025'}
  - {'infos':['Added <a href="art/feed.xml">Art RSS feed</a>','Added <a href="art/summary/2025.html">2025 summary page</a>','Rearranged Fixation pages, I hope there&apos;s no broken links'],'date':'27 Dec 2025'}
  - {'infos':['Added word count and reading time to blogs'],'date':'20 Dec 2025'}
  - {'infos':['Updated hamster page, added a bit more style and added a section for my ham Kuma'],'date':'8 Dec 2025'}
  - {'infos':['Changed format of comics, I added Javascript'],'date':'29 Nov 2025'}
  - {'infos':['Added <a href="dressup/index.html">dress up section</a> that also serves as an achievement room.'],'date':'28 Nov 2025'}
  - {'infos':['I hope changing directory of the blogs doesn&apos;t spam RSS, but yea I changed the directories'],'date':'20 Nov 2025'}
  - {'infos':['<a href="song.html">Song page</a> revamped, it should look better this way.'],'date':'18 Nov 2025'}
  - {'infos':['<a href="oc/UtSS/Jaspers.html">Jaspers&apos; ref</a> has been updated'],'date':'3 Nov 2025'}
  - {'infos':['Redesigned <a href="about.html">about page</a> and added new deco images.'],'date':'2 Nov 2025'}
  - {'infos':['Added <a href="fixiations/Minecraft.html">Minecraft</a> page in Fixation section'],'date':'23 Oct 2025'}
  - {'infos':['Removed Piclog, it is cute but it is rather inconvient. Now I use an image file that I will regularly edit to show silly stuff.','Added some decoration in newest stuff section.'],'date':'9 Oct 2025'}
  - {'infos':['<a href="oc/UtSS/Solar.html">Solar&apos;s ref</a> has been updated'],'date':'3 Oct 2025'}
  - {'infos':['Updated OC relationship format, now you can flip the things!11!???'],'date':'17 Sep 2025'}
  - {'infos':['Added little icons to sidebar and navbar links and sidebar style update :3','OC index style change','Some sitemap and svg organising'],'date':'15 Sep 2025'}
  - {'infos':['Added <a href="art/wplace/index.html">Wplace page</a>!'],'date':'14 Sep 2025'}
  - {'infos':['Style change in <a href="art/val2024.html">Valentines 2024 page</a>. Also some directory moving.'],'date':'8 Sep 2025'}
  - {'infos':['Updated the drawbox gallery format so it shows 18 images each page'],'date':'23 Aug 2025'}
  - {'infos':['Changed Wolf&apos;s glove and shoes colors','Changed the format of blog buttons to show the tags directly instead of just through hovering'],'date':'16 Aug 2025'}
  - {'infos':['Added new OC <a href="oc/other/Kaylee.html">Kaylee</a>'],'date':'20 Jul 2025'}
  - {'infos':['Edited the cool site section to look a bit cooler.'],'date':'31 May 2025'}
  - {'infos':['Some file renaming, and added<a href="fixiations/SkyCOTL.html">Sky: COTL shrine</a>.'],'date':'29 May 2025'}
  - {'infos':['Renamed fandom page to fixiations page, and added<a href="fixiations/CookieRun.html">Cookie Run shrine</a>.'],'date':'24 May 2025'}
  - {'infos':['Redesigned OC section'],'date':'20 May 2025'}
  - {'infos':['Replaced many tags with semantic HTML tags... I hope it doesn&apos;t break anything as well...'],'date':'2 May 2025'}
  - {'infos':['Guess what?! <a href="oc/Wolf.html">Wolf got a ref now</a>!!'],'date':'28 Apr 2025'}
  - {'infos':['Removed the tit tag for hundreds of pages. I hope it doesn&apos;t break anything...'],'date':'16 Apr 2025'}
  - {'infos':['Added <a href="drawbox.html">Drawbox</a> page, it works similarly like the drawing board in strawpage. Code made by <a href="https://drawbox.nekoweb.org/" target="_blank">Jhorn</a>!'],'date':'16 Apr 2025'}
  - {'infos':['Redesigned <a href="song.html">Song Page</a>, the bottom buttons doesn&apos;t do anything for now.'],'date':'16 Apr 2025'}
  - {'infos':['A bit more edits on the relchart design','Gave the OC playlist cool design'],'date':'9 Apr 2025'}
  - {'infos':['Added Grey, Ruth, Claire, Solar and Jaspers&apos;s OC chat pfps, and some relationship section revamps'],'date':'8 Apr 2025'}
  - {'infos':['April Fools event has ended, you can check <a href="art/AprilFools/2025/index.html">here</a> if you missed it!','Not found page mini css edit, it looks cooler now'],'date':'4 Apr 2025'}
  - {'infos':['<a href="oc/story/index.html">Writing page</a> redesigned!'],'date':'29 Mar 2025'}
  - {'infos':['<a href="oc/story/Skella.html">Skella! (The story I made back in 9 Oct 2024)</a> is added to the writings page! I also renamed the story pages to be the same as the titles (without special characters). I should do a bit of an overhaul for the pages, maybe add a psuedo tag system like AO3? And also I should move the writings page to somewhere else...'],'date':'24 Mar 2025'}
  - {'infos':['<a href="oc/story/The_Ultimate_Game_of_Cards.html">Game of UNO with the main gang</a> and <a href="oc/story/Math_Exam_Preparation.html">Claire suffering from Math</a>! Wow I&apos;m writing a lot.'],'date':'27 Mar 2025'}
  - {'infos':['<a href="oc/story/A_Guitar_in_the_Lonely_Room.html">New story!</a> A 2.7k-words fic about Jaspers&apos; earliest memories and how he started playing his guitar.'],'date':'24 Mar 2025'}
  - {'infos':['Added moderation function in blog comment widget.'],'date':'11 Feb 2025'}
  - {'infos':['Added new decor in about page'],'date':'9 Feb 2025'}
  - {'infos':['Little useless secret added somewhere in the blogs?'],'date':'12 Jan 2025'}
  - {'infos':['Added <a href="blog/feed.xml" target="_blank">Blog RSS feed</a>'],'date':'10 Jan 2025'}
  - {'infos':['Moved buttons, added buttons, rearranged buttons.'],'date':'9 Jan 2025'}
  - {'infos':['The blog navigation buttons are now fixed on the bottom on your screen for easier use.'],'date':'8 Jan 2025'}
  - {'infos':['I kinda promised myself to stop joining webrings because my sidebar is running out of space. But HOLY SHIT the concept of Galactic Webring is so cool, you can navigate websites represented as space objects using a telescope? Awesome'],'date':'7 Jan 2025'}
  - {'infos':['Added Surf Club widget'],'date':'6 Jan 2025'}
  - {'infos':['Now you can check the tags of the blog page under the status box.','Art viewer update, now you can click the prev or next button to view other art without leaving the window!','Made simple blog pages less ugly'],'date':'4 Jan 2025'}
  - {'infos':['Added <a href="blog/blogmap.html">Full Blog Map</a> for when the blog index breaks, you can still view the blogs in a simplier format.','Changed titles of some pages to be cooler','Added fancy deco in OC index','I made the secret links a bit more... ghosty-looking :3','Had to mass rename images because deploy neocities thing hates capitalised file format like .PNG or .JPG etc, well at least my files look more organised'],'date':'2 Jan 2025'}
  - {'infos':['Updated art and blog index to have 2025 sections, happy new year!','Added three anchor tags at the bottom in each blog post page, so that you can go to the next or previous blog page, or return to blog index.','Slightly modified art gallery js to make my life easier'],'date':'31 Dec 2024'}
  - {'infos':['Modified art viewer css a bit'],'date':'30 Dec 2024'}
  - {'infos':['<a href="art/2024summary.html">2024 Art Summary</a> added! It is in the <a href="art/2024.html">2024 art page</a>!','Edited the navbars in some art album pages','Added anchor tags in the headers in the newest content section'],'date':'27 Dec 2024'}
  - {'infos':['Changed the way art gallery resizes in different screen size.'],'date':'24 Dec 2024'}
  - {'infos':['Changed the art galleries (and blog page, food page) tags from div to either &lt;a&gt; or &lg;button&gt;, man it&apos;s a lot of pain, but at least it is more accessible, I think.','Changed image viewer js so it contains the tags of the viewers.'],'date':'22 Dec 2024'}
  - {'infos':['New blog format, instead of opening a collapsible, you are taken to a new page where the blog post is shown.'],'date':'19 Dec 2024'}
  - {'infos':['Git install success! I&apos;m so tired. Anyways, I feel like my blog page is loading slow, and the current method of having all the blog stuff on one page might not be efficient, so I think I should start using static page generator.'],'date':'19 Dec 2024'}
  - {'infos':['Fix some CSS'],'date':'18 Dec 2024'}
  - {'infos':['Added a shrine for <a href="/fixiations/SmallCampus.html">Small Campus</a>'],'date':'17 Dec 2024'}
  - {'infos':['Added the chatbox into the blog page, cuz why not chat while reading my random rambles?'],'date':'15 Dec 2024'}
  - {'infos':['Fixed RS and Bun&apos;s page because they broke badly','I think I should put down updates of the food log too, I added two pages today. Mmm shrimp'],'date':'14 Dec 2024'}
  - {'infos':['Changed guestbook to Atabook','New cover image, color scheme and snowflakes are falling, I&apos;m prepared for the jolly spirit!'],'date':'12 Dec 2024'}
  - {'infos':['Added Lavender&apos;s profile pic in OC chat'],'date':'11 Dec 2024'}
  - {'infos':['Added profile pic in about page'],'date':'10 Dec 2024'}
  - {'infos':['Added gif freeze frame thing in about page.','Added music player in blog page.'],'date':'6 Dec 2024'}
  - {'infos':['Added aria-hidden to draggable elements, heard it improves accessibility?','Apparently you can add html elements to the title text shown in the custom tooltips when you modify the code on around line 68 (from .text to .html), that means I can add line breaks or images there now. I should put it to good use <emote class="thonkery"></emote>'],'date':'4 Dec 2024'}
  - {'infos':['Fixed a problem where old blogs doesn&apos;t load. I understand how much innerHTML vs innerText can change now.'],'date':'3 Dec 2024'}
  - {'infos':['A bit of JS change in blog page so some of it replies more on CSS instead','Added a fake music player thing for the Listening section.'],'date':'1 Dec 2024'}
  - {'infos':['Something JS change in index, now the new blog section shows as a button','Divided the blogs into quarters instead of thirds.'],'date':'30 Nov 2024'}
  - {'infos':['Redesigned the about page a bit.','JS code bug fix in blog page, man I keep missing the damn errors.','New <a href="bookmark.html">Bookmarks page</a>! I get to dump all the useful links somewhere now.'],'date':'29 Nov 2024'}
  - {'infos':['Changed the status section in blog page to be in grid boxes instead of flex box, just to be slightly more simple. I hope this doesn&apos;t break anything.','Added a profile pic for OC chat, just look at Cosmos!','Added a back to top button in art page for mobile users, slightly easier navigation!'],'date':'28 Nov 2024'}
  - {'infos':['Some random CSS changes in index page','Some bug fixes in blog page'],'date':'27 Nov 2024'}
  - {'infos':['Some random CSS changes in blog page'],'date':'26 Nov 2024'}
  - {'infos':['Extra fandom page redecorating, ok I don&apos;t know how to decorate Chigiri and Barou&apos;s icon, where do I find the assests?'],'date':'25 Nov 2024'}
  - {'infos':['Fandom page blorbo section update! Now there&apos;s pictures, no more boring lists!','Added decoration in art index page, now each button is colorful. <a href="https://youtu.be/KSoCld6kVKE?si=Vmc4aXEjmGgFmLyV" target="_blank">Taste the rainbow motherfucker</a>','Improved JS code in Food Log, chat remember to put your JS code on the bottom, not the top','Some JS improvements in art galleries, now when a page is currently open, the page number will change into a different color, so that you know which page it is currently on.'],'date':'24 Nov 2024'}
  - {'infos':['The image viewer should be implemented everywhere that&apos;s needed, unless if I forgot something','Some JS improvements in blog page, man it was so messy'],'date':'14 Nov 2024'}
  - {'infos':['Archiving my old art from Twitter. If you notice that some aren&apos;t here, it&apos;s either I forgot, or I purposefully left them out because I found them too cringe (More likely option)','Changed the page name for Lavender, always thought it is weird to abbreviate her name in the page name when I use her full name more often'],'date':'15 Nov 2024'}
  - {'infos':['The image viewer should be implemented everywhere that&apos;s needed, unless if I forgot something','Some JS improvements in blog page, man it was so messy'],'date':'14 Nov 2024'}
  - {'infos':['Update in 2024 art gallery and main page, when you click an art that isn&apos;t an album or video, an image viewer with the full image + comment will open instead. I will imeplement to other galleries after I have time.'],'date':'13 Nov 2024'}
  - {'infos':['Moved the twitter embedded art to Dropbox, who knows if Twitter&apos;s going to flames tomorrow?'],'date':'10 Nov 2024'}
  - {'infos':['Improved spoiler tag using JS, so it will only reveal the content by clicking instead of hovering.'],'date':'9 Nov 2024'}
  - {'infos':['Finished the food log page! I write down the memorible food I have eaten in the past. What&apos;s more interesting is the design, I display the logs in a notebook like container with bookmarks as navigation buttons, and if you view it in mobile, it will become a pocket ring notepad instead, how cool is that?','Added three draggables in the main page, you can stack the cats together'],'date':'7 Nov 2024'}
  - {'infos':['Added a loading icon thing in blog page','Added a review tag, to distinct from the really vague discussion tag. Also some of the blogs have their tags changed','Some code editing all over due to css changes'],'date':'6 Nov 2024'}
  - {'infos':['Now the listening section is updated from the song page and shown on the main page using fetch()!','Blorbo pages names are capitalized, has been bothering me for a while lol','Some layout adjustments for mini-galleries'],'date':'5 Nov 2024'}
  - {'infos':['Bug fix in the birthday section in blog page. One new OC chat dialog added.'],'date':'2 Nov 2024'}
  - {'infos':['Two new OC chat dialogs added.'],'date':'31 Oct 2024'}
  - {'infos':['Hamster page updated, and minor change in OC chatbox'],'date':'29 Oct 2024'}
  - {'infos':['Joined GalleryRing!'],'date':'23 Oct 2024'}
  - {'infos':['Always felt like the mobile interface is a bit awkward, you have to scroll down the navbar and the list of webrings to get to the main part. So, I rearranged the sections so that the main section shows at the top in mobile! Since it would be weird for the navbars to not be at the top, the quick navbar is visible on mobile (this also applied to blog page)!','Also, I edited the directory of many images to the proper files, I hope I didn&apos;t break anything lmao'],'date':'17 Oct 2024'}
  - {'infos':['Reordered the OC section, man why did I put Lavender after Cosmos when Lavender is the protagonist? Was I that biased lmao?'],'date':'17 Oct 2024'}
  - {'infos':['...Wow I managed to make a OC birthday countdown in the blog page! I always wanted to make it but I didn&apos;t have the knowledge to code it until now, awesome! (Also some code modifications)'],'date':'16 Oct 2024'}
  - {'infos':['Some minor bugs fixes in the collapsibles, also changed fonts for Chinese and Japanese characters, this one looks way better'],'date':'12 Oct 2024'}
  - {'infos':['Blog page update, now you can check the tags you wanna see, and exclude tags you dont wanna see! I worked so hard on this :DD (plsdontfindanybugs), also I forgot to mention now there&apos;s a close button on every collapsible, you don&apos;t have to scroll back up to the button after you read a blog!'],'date':'11 Oct 2024'}
  - {'infos':['Major improvement in Blog Page, each blogs now have tags, and you can select what tags you wanna see. All bugs should be solved, god JS is my prison.'],'date':'10 Oct 2024'}
  - {'infos':['Now art galleries are iframe-less, also the problem where no title attribute is shown on hovering hover the hetch() image is solved, I can now rest in peace~','Blog page is now iframe-less using fetch(), but I have to do so much mental gymnastics because it always fucks up the javascript, god I don&apos;t want to feel this again. Also fixed the collapsible issue where sometimes the content will clip under the next section, but it is at the cost of smooth transition (nvm i saved it)'],'date':'9 Oct 2024'}
  - {'infos':['Tried out a new form of art gallery without iframe, IDK if it would load faster or slower, please tell me if the gallery performs worse'],'date':'8 Oct 2024'}
  - {'infos':['Small changes in Claire&apos;s design, and some more css changes, I hate my perfectionism'],'date':'5 Oct 2024'}
  - {'infos':['Some large but unoticeable changes through out the site, probably pointless but I prefer things to be tidier. Oh also I don&apos;t have to input the page numbers manually everytime I add a new page in the art gallery.'],'date':'4 Oct 2024'}
  - {'infos':['Some format editing and improvements in the galleries, now I can crop the thumbnails, finally'],'date':'3 Oct 2024'}
  - {'infos':['Some cleaning up :3'],'date':'2 Oct 2024'}
  - {'infos':['New javascript stuff in blog so it will type in the date on the bottom corner of the post instead of having to type in the date twice.'],'date':'29 Sep 2024'}
  - {'infos':['CSS cleaning, and improved the status box in my blogs. Life update: I feel like my brain is floating away from me... Oh and the checkboxes are styled, took me a while.'],'date':'26 Sep 2024'}
  - {'infos':['CSS cleaning again, also it feels like I haven&apos;t touched this site for a long time, even though it only has been 3 days...'],'date':'25 Sep 2024'}
  - {'infos':['Some more CSS cleaning here and there...'],'date':'22 Sep 2024'}
  - {'infos':['Refresh button go clicky clicky, also I focused in cleaning up my CSS sheet too hard, it&apos;s 12am...'],'date':'21 Sep 2024'}
  - {'infos':['<a href="song.html">Song page</a> updated, I will update it more because the Youtube playlist is kinda broken rn','Some CSS sheet cleaning~','Most importantly, OC chat section is updated! This part is inspired by <a href="https://ninacti0n.neocities.org/" target="_blank">Ninacti0n</a>, where the website has a OC live chat. I wanted to do something similar, but you can see simple and small moments between my OCs every refresh or clicking the refresh button. You can also pretend to chat with them by typing in the text box (You can&apos;t send them sadly, fourth wall too strong).'],'date':'20 Sep 2024'}
  - {'infos':['<a href="fixiations/pome.html">Pome&apos;s crime list</a> updated, I love my girlboss'],'date':'15 Sep 2024'}
  - {'infos':['Some style modifications in the galleries and the sidebar and guestbook buttons. Also the animation in the neighbour button section is now toggleable!'],'date':'14 Sep 2024'}
  - {'infos':['Updated Jaspers&apos; ref a bit, why did I make his gem shaped so strangely, rectangle option is right there?????'],'date':'11 Sep 2024'}
  - {'infos':['Layout error fixing, noticed layout&apos;s fucked up on my Ipad'],'date':'9 Sep 2024'}
  - {'infos':['Some modifications in one of the secret writing pages, I think I have improved in writing emotions and scenes','New stuff added in Grey, Lav, RS page, and bio updated for Bun'],'date':'7 Sep 2024'}
  - {'infos':['Added <a href="/oc/Bun.html">Bun&apos;s page</a>, now it&apos;s seperate from RS&apos; page. But since I want to maintain a sense of mysteriousness of Bun, I&apos;ll not put it in the OC menu, so it is a semi-secret.','Some layout edits also'],'date':'29 Aug 2024'}
  - {'infos':['Some CSS house cleaning today, and also added some stuff in my about page, and added some disclaimers in my arts page, which I should have added earlier'],'date':'29 Aug 2024'}
  - {'infos':['Removed the scrollbar-color properties, I think they are too ugly, and removing them only affects how you see the scrollbars in Firefox (which doesn&apos;t affect functionality).'],'date':'27 Aug 2024'}
  - {'infos':['Uploaded the archive of F+F to <a href="federi_neighbours.html">here</a> because Wayback Machine is load a bit slow and also I am afraid Divsel&apos;s archive will suddenly be deleted too like the original F+F archive'],'date':'25 Aug 2024'}
  - {'infos':['Added <a href="/art/shimeji.html">Shimeji page!</a>'],'date':'25 Aug 2024'}
  - {'infos':['Edited Lavender, Cosmos and Jaspers&apos; refs, I keep forgetting to note down the updates','Some quality life changes in the Newest Content box'],'date':'23 Aug 2024'}
  - {'infos':['Character info modified, especially Mira, her bio is so outdated'],'date':'4 Aug 2024'}
  - {'infos':['A bit late but some of the characters now have playlist that reflects their backstories and stuff'],'date':'6 Jul 2024'}
  - {'infos':['Added new draggables to the blog page'],'date':'31 May 2024'}
  - {'infos':['Made a button for my Nekoweb site!'],'date':'16 May 2024'}
  - {'infos':['Added a link to my Nekoweb page, I recently came up with a new idea with it, you can go check it out! Also, the title background is now cooler looking.'],'date':'13 May 2024'}
  - {'infos':['Added a status thing in my blog! Also, I was worried about potential lag issues (it is taking longer to load in my iframe), so I decided to dived the blog into quarters from now on!'],'date':'11 May 2024'}
  - {'infos':['Since 123Guestbook is shutting down, I used the comment widget instead, now in the new <a href="guestbook.html">Guestbook section</a>!'],'date':'04 May 2024'}
  - {'infos':['Added styled tooltips, the code credits are in the footer!'],'date':'04 May 2024'}
  - {'infos':['I added the Cosmos doll in the <a href="blog.html">blog page</a>, AND she will meow when you click her.','Additionally, I solved the problem where there&apos;s a audio delay when you click Cosmos, I did all this when I haven&apos;t really learnt JS, man I&apos;m a genuis. <img src="https://i.redd.it/izutsumi-from-dungeon-meshi-is-the-best-what-a-funny-little-v0-w8uk9a3v28ec1.png?width=1178&format=png&auto=webp&s=83b69f5f670b1ee06f19dc106191a3660b692a4d" style="max-width:150px">'],'date':'20 Apr 2024'}
  - {'infos':['When you click Cosmos in the <a href="blog.html">blog page</a>, she will purr'],'date':'20 Apr 2024'}
  - {'infos':['Added a box where you can see the newest art and blog title, and I don&apos;t have to change the index file manually! How cool is that? (It did take me hours of researching though, man I really have to start learning JS','Some improvements in fandom index page also'],'date':'13 Apr 2024'}
  - {'infos':['A bit of layout improvement in the main page, fandom pages and song page.'],'date':'12 Apr 2024'}
  - {'infos':['I changed my mind about <a href="/oc/Mira.html">Mira&apos;s design</a>, her eyes are now normal','And changed the url to RS gang'],'date':'04 Apr 2024'}
  - {'infos':['<span style="text-decoration:underline;text-decoration-thickness:1.5px;" title="April Fools event, which changes the OC&apos;s profile pics, lasting 2 days">Nothing changed at all ;) (Event ended)</span>'],'date':'01 Apr 2024'}
  - {'infos':['Added one more draggable pic'],'date':'25 Mar 2024'}
  - {'infos':['3 draggable pics!!! And added a clock in the blog page, hope my spaghetti modifications works.'],'date':'24 Mar 2024'}
  - {'infos':['Draggable pics!! But I haven&apos;t made any special pics yet so here&apos;s a placeholder you can play with for now'],'date':'21 Mar 2024'}
  - {'infos':['New <a href="hamster.html">hamster page</a>, hampter'],'date':'10 Mar 2024'}
  - {'infos':['Double sidebar let&apos;s gooooo, but now I have to deal with the strange space in the sidebars'],'date':'05 Mar 2024'}
  - {'infos':['Caffeine has made me name my boi, he is <a href="/oc/Wolf.html">Wolf</a>, say hi to this motherfucker'],'date':'27 Feb 2024'}
  - {'infos':['New <a href="/oc/story/hortensia.html">writing/lore</a>, yeehaw'],'date':'26 Feb 2024'}
  - {'infos':['<a href="/oc/missing.html#solar">Solar</a> got a ref now! Happy (2 hours early) birthday!'],'date':'25 Feb 2024'}
  - {'infos':['Guess <a href="/oc/missing.html#jaspers">who</a> now has a reference sheet? :3 (sorry Solar but I hate drawing armor).'],'date':'24 Feb 2024'}
  - {'infos':['New <a href="/oc/story.html">story page</a> added, you can look at non-secret oc lore here.'],'date':'23 Feb 2024'}
  - {'infos':['New <a href="/art/comic.html">comic page</a> added!!!'],'date':'19 Feb 2024'}
  - {'infos':['Some sidebar changes because it&apos;s getting too long, also a poll is added, come check it out!'],'date':'17 Feb 2024'}
  - {'infos':['It took a while, but several new <a href="oc.html">OC pages</a> are added, all the pages in the Dreamland Workshop should be open!'],'date':'8 Feb 2024'}
  - {'infos':['Improved art pages layout, I&apos;m in pain'],'date':'4 Feb 2024'}
  - {'infos':['Some color changes in <a href="/blog.html">blog</a> and various pages, it feels comfy'],'date':'3 Feb 2024'}
  - {'infos':['New ref for <a href="/oc/Kiwi.html">my sona</a>, check it out, or not'],'date':'2 Feb 2024'}
  - {'infos':['Some css changes here and there, and now the boxes have shadows, because I kinda miss the layout in my Carrd'],'date':'1 Feb 2024'}
  - {'infos':['After months of procrastinating, I finally did <a href="fixiations/barou.html">Barou&apos;s page</a>. Now the 4 Reds (Pome, Holly, Chigiri, Barou) are complete.','Also, <a href="fandom.html">fandom and blorbo page</a> has been merged.'],'date':'24 Jan 2024'}
  - {'infos':['The scrollbar in Firebox is now colored'],'date':'13 Jan 2024'}
  - {'infos':['The art pages has now been divided into multiple pages using iframes to reduce lagging, hope it works.','Did something with the fandoms page'],'date':'12 Jan 2024'}
  - {'infos':['This website now has <a href="art/memes.html">Memes</a>. And also some ul tag fixing. A little animation is added to <a href="about.html">About page</a>. Now the name titles in the OC pages are replaced with their quotes, that feels cooler.'],'date':'11 Jan 2024'}
  - {'infos':['<a href="oc/missing.html#claire">Claire</a> got a ref sheet now!'],'date':'10 Jan 2024'}
  - {'infos':['Minor layout fixes in <a href="oc/missing.html">Reach for the Stars</a>.'],'date':'9 Jan 2024'}
  - {'infos':['New character in Upon the Starry Sky, meet <a href="/oc/Mira.html">Mira</a>!'],'date':'28 Dec 2023'}
  - {'infos':['How could I only just know I can put an ease-out transition of the spoiler tags? Now with this fix, people won&apos;t accidentally hover onto spoilers.'],'date':'8 Dec 2023'}
  - {'infos':['I used iframe in the blog section, seems more easy to divide the blog in years.'],'date':'7 Dec 2023'}
  - {'infos':['I changed my mind, maybe<mark> Reach for the Stars </mark>is better.'],'date':'5 Dec 2023'}
  - {'infos':['<a href="oc/missing.html">Star Reachers</a> characters now have their own PFPs, except for one of them cuz they don&apos;t have a sidebar.'],'date':'4 Dec 2023'}
  - {'infos':['The missing gang in the OCs page is no longer named as the people thats missing! They now have a team name:<mark> Star Reachers</mark>! Also added new lore easter egg in there.'],'date':'3 Dec 2023'}
  - {'infos':['Should&apos;ve done this earlier, but I added buttons from other cool sites!!'],'date':'2 Dec 2023'}
  - {'infos':['Dropbox url images has been fixed, I hope.'],'date':'1 Dec 2023'}
  - {'infos':['Added Art page and improved layout in one of my OC page.'],'date':'23 Nov 2023'}
  - {'infos':['I added an easter egg somewhere in the OC page, it probably isn&apos;t too hard to find. I also added an extra character in the Missing Persons page.'],'date':'15 Nov 2023'}
  - {'infos':['Guys! Guys! I finally made Cosmos&apos; cat form reference! <a href="oc/Cosmos.html">Go check it out!</a>'],'date':'10 Nov 2023'}
  - {'infos':['I joined some webrings and added a counter, maybe more people will see this page?.'],'date':'10 Nov 2023'}
  - {'infos':['I just realised <a href="/oc/Ruth.html">Ruth&apos;s page</a> was not working, dummy me.'],'date':'21 Oct 2023'}
  - {'infos':['Holy shit I updated tons of lore, majorly the <a href="oc/world.html">worldbuilding</a> and <a href="oc/missing.html">new set of characters</a>.'],'date':'21 Oct 2023'}
  - {'infos':['I often forget to put updates here, I talk about <a href="char/chigiri.html">Chigiri</a>.'],'date':'21 Oct 2023'}
  - {'infos':['Blorbo List updated, Gim Cookie is very cute, mipy even. I added a shrine page for <a href="/char/holly.html">Hollyberry</a>.'],'date':'22 Aug 2023'}
  - {'infos':['I added a shrine page for <a href="/char/pome.html">Pome</a>.'],'date':'22 Aug 2023'}
  - {'infos':['Site map added :33'],'date':'19 Aug 2023'}
  - {'infos':['What&apos;s up, I made some layout changes for some pages. For the OC pages, Lavender, Grey and Kyrea pages have their color themes. For the Fav character and Blog pages, the sidebar is now sticky and there&apos;s a back to top button! Meanwhile, I&apos;m also adding some images for About page and OC page, you can go check them out!'],'date':'18 Aug 2023'}
  - {'infos':['Changed the layout a bit in About Page and OC page.'],'date':'17 Aug 2023'}
---

