body {
  margin: 0;
  padding: 0;
  background: #2a2543;
  line-height: 133%;
  font-size: 0.98em;
  font-family: "Italiana", "Open Sans", "Droid Sans", "Calibri", sans-serif;
  color: #637B87; 
  font-weight: Bold;
  }
  
@font-face {
  font-family: "Italiana";
  src: url("/Fraunces.ttf");
}

/*Miscellanous custom styling for various elements.*/
h1, h2, h3 {
  font-family: "Italiana";
  color: #43586E;
  }

.text{
  text-indent: 25px;
}

a {
  text-decoration: none;
  color: #637B87;
  }

a:hover, a:focus {
  color: #344170;
  transition: ease-in 0.1s, ease-out 0.1s;
  }
  
blockquote {
  border-left: #4d4385 3px solid;
  background: #d8d4ec;
  padding: 0.1px 0.75rem;
  margin: 0 1.5rem;
  }
  
/*Sticky navigation links at the top of the page.*/
.quick-nav {
  position:fixed;
  z-index: 999;
  width: 100%;
  background: #0a000a;
  background: rgb(15 14 49 / 50%);
  text-align: right;
  color: #fff;  
  font-size: 0.875em;
  }
  
.navbar {
  padding: 1px 25px;
  }
  
.navbar a {
  display: inline-block;
  text-decoration: none;
  color: #fff5e1;
  padding: 5px 4px;
  margin: 0 2px;
  }
  
.navbar a:hover, .footer a:hover, .navbar a:focus, .footer a:focus {
  color: #bcb9d6;
  transition: ease-in 0.1s, ease-out 0.1s;
  text-decoration-color: #bcb9d6;
  }
  
  
/*Header image.*/
.header {
  height: 350px;
  background: linear-gradient(rgba(10,0,10,0.5), rgba(10,0,10,0.4)), url(background.jpg);
  background-size: cover;
  background-position: center;
  }

/*Title bar with icon and title/tagline.*/
.title {
  background: #38445E;
  min-height: 60px;
  margin-bottom: -25px;
  text-align: right;
  }
  
.title-text, .title-pic {
  padding:0;
  margin: 0;
  display: inline-block;
  vertical-align: top;
  }
  
/*Contains the text tagline.*/
.title-text {
  padding-right: 1em;
  width: calc(85vw - 110px);
  line-height: 167%;
  margin-top: -3px;
  padding-bottom: 15px;
  }
  
.title-text h1 {
  padding:0;
  font-size: 32px;
  color: #fff;
  }
  
/*Contains the profile pic. This can be left out and should still look okay.*/
.title-pic {
  height: 100px;
  margin-right: 100px;
  margin-top: -25px;
  border: 5px solid #fff;
  border-radius: 50%;
  }
  
.title-pic img {
  height: 100%;
  overflow: hidden;
  }
  
/*Contains the main content and sidebar.*/
.page-wrapper {
  padding: 0 100px;
  margin: 0 auto;
  background: #ddd;
  background: linear-gradient(#637B87, rgb(11 8 20 / 74%)), url(background.jpg); /*Gradient makes tiles "fade in".*/
  }

/*Contains the sidebar boxes.*/
.sidebar {
  width: 320px;
  margin: 50px 0;
  position: absolute;
  }
  
.sidebar h1 {
  font-size: 1.2rem;
  background: #38445E;
  color: #fff;
  padding: 12px 10px 10px 10px;
  margin: auto;
  }
  
.sidebar a {
  display: block;
  border-left: 3px solid #637B87;
  background: #93C3E64A;
  padding: 5px;
  margin: 10px 0;
  color: #38445E;
  text-decoration: none;
  }
  
.sidebar a:hover, .sidebar a:focus {
  background: #3654bf54;
  color: #26357c;
  transition: ease-in 0.1s, ease-out 0.1s;
  }
  
.sidebar, .main, .main2{
  display: inline-block;
  }

/*Contains main content boxes.*/
.main {
  margin: 50px 100px 50px 350px;
  width: auto;
  width: calc(100vw - 550px);
  }
  
.main2 {
  margin: 75px auto;
  width: auto;
}
  
  
/*Basic container type for subsections of main and sidebar divs*/
.box {
  margin-bottom: 15px;
  }

.main h1, .main2 h1{
    text-shadow: 2px 2px #97B8B5;
    line-height: 1;
}

.main a, .main2 a {
  text-decoration: underline;
  color:#43586E;
  text-decoration-color:#43586E;
}

.main a:hover, .main a:focus, .main2 a:hover, .main a:focus {
  color: #38445E;
  text-decoration-color: #38445E;
}
  
/*Inner content div for boxes. Padding goes here so sidebar headers etc can keep their no-margin look.*/
.inner {
  background: #F3E3B8;
  padding: 10px 25px;
  }

.inner u {
  color:#38445E;
  box-shadow:inset 0 -0.625em 0 0 rgba(147,195,230,0.29);
  text-decoration: none;
}

.inner img {
  max-width: 100%; /*Prevent image overflow.*/
  height: auto;
  border-radius: 5px; /*Give images in content rounded corners.*/
  }
  
.box {
  border-radius: 5px;
  overflow: hidden; /*Force inner divs to conform to rounded corners.*/
  }

.title-pic img {
  border-radius: 50%;
  overflow: hidden; /*Force inner divs to conform to rounded corners.*/
  }
  
  
/*Footer section.*/
.footer {
  background: rgba(24,18,38,1);
  color: #fff;
  padding: 5px 20px;
  font-size: 0.75em;
  padding-bottom: 10px;
  }

.footer h2{
  color: #fff;
}
  
.footer a {
  color: #fff;
  text-decoration: underline;
  text-decoration-color: #fff5e1;
  }

/*Individual column of the footer. You can have 3 of these at the current given width.*/
.footer-column {
  width: 25%;
  margin: 5px 10px;
  display: inline-block;
  vertical-align: top;
  }


/*Adapt to narrower screens.*/
@media(max-width: 900px) {
  .page-wrapper {
    padding: 0 50px;
    }
  
  .sidebar {
    width: 25vw;
    }
    
  .main {
    margin: 50px 0 50px calc(25vw + 30px);
    width: calc(75vw - 150px);
    }
    
  .title-pic {
    margin-right: 7vw;
    }
    
  .title-text {
    padding-left: 1vw;
    padding-right: 2vw;
    }
  
  }
  
/*Mobile layout.*/
@media(orientation: portrait) { 
  .page-wrapper {
    padding-top: 0.1px;
    padding-bottom: 0.1px;
    }
  
  .sidebar, .main {
    display: block;
    margin: 0 auto;
    position: static;
    width: 100%;    
    }
    
  .sidebar {
    margin-top: 50px;
    }
    
  .main {
    margin-top: 30px;
    margin-bottom: 30px;
    }
    
    
  }
  
/***
For really narrow screens which cause the title text to wrap. 
You may need to adjust the width at which this kicks in to fit 
your own title.
***/
@media(max-width: 500px) {
  .header {
    height: 60vw;
    }
  
  .title {
    padding-right: 0;
    }
  
  .title-text {
    margin-top: -5px;
    }
    
  .title-text h1 {
    font-size: 6vw;
    line-height: 75%;
    }
    
  .title {
    height: calc(auto - 25px);
    }
    
  .page-wrapper {
    padding: 0.1px 7vw;
    }
    
  /*For extra narrow screens where the columns would get too skinny.*/
  .footer-column {
    display: block;
    width: 100%;
    margin: 0 auto;
    }
  }
  
  /*Collapsable*/
  .collapsible {
  background-color: #F3E3B8;
  color: #637B87; 
  cursor: pointer;
  padding: 10px;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 0.98em;
  font-weight: Bold;
  font-family: "Italiana";
  border-radius: 10px;
  border: 3px;
  border-color: #637B87;
  border-style: solid;
  margin: 2.5px 0px 2.5px 0px;
}

.active, .collapsible:hover, .return:hover {
  background-color: #43586E77;
  border-color: #38445E;
  color: #38445E;
}

.collapsible:after {
  content: '\002B';
  color: #637B87;
  font-weight: bolder;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

hr {
  border: 1px dashed #637B8777;
} 

.spoiler {
  color:#38445E;
  background-color: #38445E;
}

.spoiler:hover{
  background-color:rgba(147,195,230,0.29);
}

  .return {
  background-color: #F3E3B8;
  color: #637B87; 
  cursor: pointer;
  padding: 10px;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 0.98em;
  font-weight: Bold;
  font-family: "Italiana";
  border-radius: 10px;
  border: 3px;
  border-color: #637B87;
  border-style: solid;
  margin: 2.5px 0px 2.5px 0px;
}