/*
    Below you will be able to freely customize every aspect of the comment widget.
    Most aspects of the widget are 100% able to be customized in CSS, but for strong structural changes,
    you may have to edit the JavaScript file.

    These are all the classes and IDs at your disposal!
    Classes have a c- at the start and IDs have a c_
    You don't need every single one for a good theme, but I tried to give as many options as possible!
*/
/*
    Containers:
        #c_widget - The container <div> for the entire widget
        #c_inputArea - The wrapper <div> around the form
        #c_container - The wrapper <div> around all the comments

    The input form:
        #c_form - The whole input <form>
        #c_widgetTitle - The <h2> title at the top of the form

        .c-inputWrapper- All <div> wrappers for each label/input pair
        .c-label - All <label>s
        .c-input - All <input>s

        #c_nameWrapper - The wrapper <div> for the name field
        .c-nameLabel - The <label> for the name field
        .c-nameInput - The <input> for the name field

        #c_websiteWrapper - The wrapper <div> for the website field
        .c-websiteLabel - The <label> for the website field
        .c-websiteInput - The <input> for the website field

        #c_textWrapper - The wrapper <div> for the text field
        .c-textLabel - The <label> for the text field
        .c-textInput - The <input> for the text field

        #c_submitButton - The submit button (It's an <input> element with a type of "submit")
        #c_replyingText - The text <span> that displays when a user is replying to a comment

    The comment section:
        .c-comment - All comment <div>s
        .c-reply - All reply <div>s (contained within parent comment <div>s)
        .c-name - The name of the person submitting the comment/reply (an <h3> element)
        .c-timestamp - The timestamp of when the comment/reply was made (a <span> element)
        .c-site - The website linked at the top of the comment/reply (an <a> element)
        .c-text - The actual text body of the comment/reply (a <p> element)
        .c-replyButton - All reply <button>s
        .c-expandButton - The <button>s to reveal/hide replies (These only show if s_collapsedReplies is set to true in the JS)
        
        #c_pagination - The <div> wrapper for the pagination at the bottom (Only shows if there's more than one page)
        .c-paginationButton - Both left and right directional <button>s
        #c_leftButton - The left <button>
        #c_rightButton - The right <button>
*/

/* Main */
#c_widget {
    box-sizing: border-box;
    background-attachment: fixed;
    color:var(--teal);
    background-color: var(--yellow);
    border-radius: 7.5px;
    box-shadow: 4px 4px 4px 2px var(--shadow), inset 0 50px 50px -20px color-mix(in srgb, var(--yellow),#b99077),inset 0 -50px 50px -20px color-mix(in srgb, var(--yellow), #b99077);
}

#c_widget button, #c_widget input[type=submit] {
    text-decoration: none;
  background: linear-gradient(0.25turn, var(--gradient1), var(--gradient2));
  border: none;
  border-radius: 0 10px 10px 0;
  color: var(--blue);
  font-family: "Fraunces";
  border-left: 3px solid var(--blue);
  padding: 5px 7.5px;
  filter: var(--dropshadow);
}
#c_widget button:hover, #c_widget input[type=submit]:hover {
    background: linear-gradient(0.25turn, #3654bf54,#3654bf2b);
  border-left: 3px solid var(--dblue);
  color: var(--dblue);
  cursor:pointer;
  translate: 1px 1px;
  filter: var(--dropshadowdown);
}
#c_widget button:disabled, #c_widget input[type=submit]:disabled {opacity: 60%;}
#c_widget button:disabled:hover, #c_widget input[type=submit]:disabled:hover {
    background: linear-gradient(0.25turn, #3654bf54,#3654bf2b);
  border-left: 3px solid var(--dblue);
  color: var(--dblue);
  translate: 1px 1px;
  filter: var(--dropshadowdown);
}

/* Input section */

#c_form{
  padding: 15px 25px;
  padding-bottom: 0;
}

#c_container {padding-bottom: 10px;color:var(--yellow)}
#c_container > hr {
  margin: 15px;
}
#c_widgetTitle {
  padding: 15px 20px;
  border-bottom: 1.75px dashed var(--lteal);
  margin: 0;
}

.c-inputWrapper {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}
.c-input {
    padding: 4px;
  color: var(--teal);
  border-radius: 5px;
  border: 1px solid;
  outline: none;
  background: var(--highlightteal);
}
.c-input:focus, .c-input:hover{border-color:var(--blue);box-shadow:0 0 0 0.5px var(--blue);}
.c-nameInput, .c-websiteInput {
  margin: 0 2.5px;
}
.c-textInput {
    width: calc(100% - 10px);
    resize: none;
}
#c_submitButton {display: block;}
#c_replyingText {
  color: var(--blue) !important;
  box-shadow: inset 0 -0.625em 0 0 var(--highlightteal);
  text-decoration: none;}

/* Comment section */
.c-comment {
    margin: 15px 0;
    padding: 15px 25px;
}
.c-reply {
    margin: 15px 0;
    padding: 10px 5px;
    border-top: 1.75px dashed var(--lteal);
}
.c-reply:last-child {margin-bottom: 0;}
.c-replyContainer {
  border-left: 2px solid var(--lteal);
  padding-left: 15px;
  margin-left: 20px;
}
@media(max-width:700px){
    .c-reply{
        padding: 15px 20px;
    }
}
.c-name {
    display: inline-block;
    margin: 0;
    margin-right: 10px;
    padding: 0;
}
.c-site {
    text-transform: lowercase;
}
.c-site:hover {color: var(--blue);}
.c-timestamp {
    float: right;
    opacity: 60%;
    color:var(--teal);
}
.c-text {
    text-indent: 25px;
}

/* Pagination */
#c_pagination {text-align: center;}
.c-expandButton {
    float: right;
    margin-top: 10px;
}
.c-paginationButton {
    margin-right: 4px;
    margin-left: 4px;
}
.nocomment{
    margin: 0 25px;
    color: var(--teal);
}