@font-face {
    font-family:'Fraunces';
    src: url(../Fraunces.ttf);
   }
 rss {
    font-family: "Fraunces","Toppan-Bunkyu-Mincho",serif, sans-serif;
   background: linear-gradient(#637b8759, #7750c359 150%), url(/assets/fancy.png);
   color:var(--teal);
   font-weight:500;
   line-height: 145%;
  font-size: 0.90em;
  padding: 25px 50px;
  display:block;
  min-height: calc(100vh - 50px);
 }
 
 title {
    font-size: 2em;
    color:var(--blue);
    display:block;
    padding: 17.5px 25px;
    border-bottom: 1.75px dashed var(--lteal);
    text-shadow: 2px 2px var(--lteal);
    font-weight: 600;
    line-height: 1;
   }
 
 channel {
    margin: 0 6vw;
   background-color: var(--yellow);
   display:block;
   border-radius:7.5px;
   box-shadow: 4px 4px 4px 2px var(--shadow), inset 0 50px 50px -20px var(--boxdark),inset 0 -50px 50px -20px var(--boxdark);
 }

description{
   margin: 15px 25px;
 }

 link{
  display:none;
 }
channel>title+link{
  font-size:1em;
  background: var(--gradient);
   filter:var(--dropshadow);
   color:var(--blue);
   display:block;
   padding: 2px 5px;
   border-radius: 5px;
   margin: 15px auto;
   width: max-content;
 }
channel>title + link::before {
  content: "View it on: ";
}
 item{
    margin: 15px 25px;
    display:block;
    border-bottom:1.75px dashed var(--lteal);
 }
 item:first-of-type{
    border-top:1.75px dashed var(--lteal);
 }
 item title{
    font-size: 1.5em;
    margin: 12.5px 0px;
    border:0;
    padding:0;
 }
guid {
   display:inline-block;
   background: var(--gradient);
   filter:var(--dropshadow);
   color:var(--blue);
   padding: 2px 5px;
   border-radius: 5px;
 }
 guid::before {
  content: "GUID: ";
}
 
 pubDate {
   display:block;
   text-align: right;
   font-size: 0.9em;
   margin: 0.5em 0;
 }
 pubDate::before {
  content: "[ ";
}
pubDate::after {
  content: " ]";
}
 description {
   display:block;
   text-indent:25px;
 }
 item description{
    margin:15px 0;
 }
 item:last-child {
  border-bottom: 0;
  padding-bottom: 0.1px;
}
 @media (max-width: 900px) {
    rss{
        padding: 25px 4vw;
    }
    channel {
        margin: 0 auto;
    }
}