/* style-my-tootltips plugin, tooltip styling */
#s-m-t-tooltip{
	/* basic */
	max-width:400px;
	top:0;
	z-index:9999 !important;
	pointer-events: none;
	margin:15px;
	position:absolute;
	/* style and design */
	padding:5px 10px;
	background:#0f0e31; /* fallback if rgba not supported */
	background:#0f0e3180;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-moz-box-shadow:-1px -1px 2px 0px rgba(255,255,255,0.5);
	-webkit-box-shadow:-1px -1px 2px 0px rgba(255,255,255,0.5);
	box-shadow:-1px -1px 2px 0px rgba(255,255,255,0.5);
	/* font */
	font-family:"Fraunces","Hanyi";
	font-size:0.9em;
	line-height:150%;
	color:#fff;
	filter: var(--dropshadow);
}
#s-m-t-tooltip a{
	color:white;
}
#s-m-t-tooltip a:hover,#s-m-t-tooltip a:focus{
	color:#bcb9d6;
}