body{
    background: rgb(240, 124, 124);
    margin:0;
    padding:0;
}
h1{
    color:white;
    text-align: center;
    text-shadow: 2px 2px darkred;
}
#title{
    font-size: 3em;
}
section{
    margin:10px;
}
#stops,#saved,#route{
    background:white;
    margin:auto 10px;
    border-radius: 7.5px;
    border:1px solid grey;
    border-collapse: collapse;
    width: -webkit-fill-available;
    width:-moz-available;
    overflow: hidden;
}
#stops > div,#saved > div,#route > div{
    border-bottom:1px solid grey;
    background: linear-gradient(white, #f0e5e5);
}
#stops,#saved{
    margin-bottom: 20px;
}
#stops > div> div:first-child{
    background:linear-gradient(#ff9090, #dc1919);
    color: white;
    padding:5px;
}
#stops > div> div:last-child{
    padding:5px;
    color:#4c57a3;
    margin-left: 10px;
}
#route > div > div:first-child,#saved > div > div:first-child{
    text-align: center;
    background: linear-gradient(white, #f0e5e5);
    border-bottom:1px solid grey;
}
#route > div > div:first-child span,#saved > div > div:first-child span{
    font-size:0.75em;
    opacity: 0.5;
}
#route > div > div:last-child,#saved > div > div:last-child{
    display: flex;
}
div[onclick*="getStops"]{
    background: linear-gradient(#ffd8d8, #ff9595);
    padding:5px;
    border-right: 1px solid grey;
    width:90%;
}
div[onclick*="getStops"] div:first-child{
    font-size:0.9em;
}
div[onclick*="getStops"] div:last-child{
    font-weight: bold;
    font-size: 1.1em;
}
div[onclick*="getStops"]:hover,div[onclick*="getStops"]:active{
    background:linear-gradient(#e8b7b7, #e37690);
}

div[onclick*="saveStop"],div[onclick*="deleteStop"]{
    background: linear-gradient(#fffbd8, #ffd895);
    width:10%;
    position: relative;
}
div[onclick*="saveStop"]:hover,div[onclick*="deleteStop"]:hover,div[onclick*="saveStop"]:active,div[onclick*="deleteStop"]:active{
    background: linear-gradient(#ead9af, #dd916b);
}
div[onclick*="saveStop"] span,div[onclick*="deleteStop"] span{
    position: absolute;
    top:50%;
    left: 50%;
    translate: -50% -50%;
    color: rgb(117, 5, 5);
  text-shadow: 1px 1px 1px orange;
}
div[onclick]:hover{
    cursor:pointer;
}
#nav{
    position:sticky;
    top:0;
    background: #00000077;
    padding:5px 0;
    color:white;
    z-index: 1;
}
#nav button{
    display:inline-block;
}
#refresh{
    margin:10px auto;
    display:block;
    font-size:1.2em;
    padding:5px 10px;
    border-radius:7.5px;
}
#refresh,#refresh2{
    background: linear-gradient(#ff9090, #dc1919);
    border: 1px solid rgb(143, 0, 0);
    text-shadow: 2px 2px #8a0000;
    color:white;
}
#search{
    margin:auto;
    text-align: center;
    font-size: 1.1em;
}
button[onclick*="scroll"],input {
    font-size: 1.1em;
}
.return,#refresh2, button[onclick*="getSaved"]{
    margin:10px;
    display:inline-block;
    font-size:1.2em;
    padding:5px 10px;
    border-radius:7.5px;
}
.return, button[onclick*="getSaved"]{
    background: linear-gradient(lightblue, #4499eb);
    border: 1px solid #0c00a8;
    text-shadow: 2px 2px #0c00a8;
    color: white;
}
button{
    filter:drop-shadow(2px 2px 2px rgb(113, 34, 2));
}
button:hover, button:active{
    translate: 1px 1px;
    filter:brightness(0.5) drop-shadow(1px 1px 2px rgb(113, 34, 2));
    cursor:pointer;
}
.head{
    text-align: center;
    width:100%;
}
#infocontainer,#savedcontainer{
    width:100%;
    position:fixed;
    top:0;
    overflow:scroll;
    width:100%;
    height:100%;
    background: rgb(255, 201, 189);
    translate: 100%;
    opacity: 0;
    transition: translate 1s, opacity 1s;
    z-index: 99;
}
#infocontainer.active, #savedcontainer.active{
    translate:0;
    opacity:1;
}
#info,#savedinner{
    width:100%;
    background:rgb(255, 201, 189);
    position:absolute;
    top:0;
}