---
layout: AFDesc.njk
style: >
  
name: Carnelian 
pronouns: her
color: >
  #A4EBFF
height: 169cm
desc: A totally normal human who totally isn’t actually a star from outer space
lorefacts:
  - She isn't very expressive, her face always looks blank
  - She enjoys talking to friends and strangers, and is more humorous than she looks!
  - Sometimes laments she should've started travelling way earlier, things pass by so quickly after all
metafacts: 
  - While she is a OC concept that existed for a while, her design only existed after <a href="https://artfight.net/character/3971251.jaspers">Jaspers</a> and <a href="https://artfight.net/character/3947007.claire">Claire</a>'s' Tomodachi Life Miis gave birth to her
  - The reason she’s named after a red stone is because she had Jaspers’ face paint hair (red), only later her real hair color (blue) showed up
extras:
  - While she is an adult, please no sexual or shipping art for her!
---