---
layout: AFDesc.njk
style: >
  
name: Claire 
pronouns: her
color: >
  #1e92f7
height: 159
desc: A kind lady who tried to stay optimistic in a post-apocalyptic world. Currently missing along with three of her friends.
lorefacts:
  - She was part of a club called Reach for the Stars, consisting her, the other three friends and Grey
  - She used a compact umbrella as a weapon. She could wack enemies with the umbrella like a bat, and use it like a shield when opened. Don't worry, the umbrella's durable, somehow.
  - She can turn liquids into crystals, how cool!
  - She was quite interested in nature, and knew plenty of unusual facts
  - Despite all the shenanigans her friend group had, she always treat them kindly and patiently
  - Unfortunately, she was also bad at math
metafacts: 
  - She is one of my oldest OCs along with Grey
  - Claire and him were intended to be siblings, but after weird world-building stuff, they technically aren't
  - I still see them as siblings tho
  - Her character motif is rain and gemstones
extras:
  - Feel free to ship her with <a href="https://artfight.net/character/3971251.jaspers">Jaspers</a> or <a href="https://artfight.net/character/3973386.solar">Solar</a>
---