---
layout: AFDesc.njk
name: Cosmos 
color: >
  #79b7e3
yellow: >
  #ffedbd
lteal: >
  #8cacac
teal: >
  #3f6884
blue: >
  #152a70
pronouns: her
height: 180
desc: A magical cat who turned into a human, having one hell of an adventure with&nbsp;<a href="https://artfight.net/character/3138341.lavender">a friend</a>
lorefacts:
  - She's supposed to be a magical creature called cometling, for why she has a human form, that would require a lot of explaining...
  - She cares about her appearance quite much, and makes a lot of effort trying to look cool
  - She likes flying to somewhere high up and watch the view, particularly during dawn
  - Though she has strong magic within her, she does not know how to use it, so she trains magic with Lavender often
  - She's bad at lying, nor she enjoys doing it
  - She often suffers from nightmares, so she often finds Lavender for comfort
metafacts: 
  - She's inspired by my Sky kid, hence the blue and gold colors
  - (It's also why I almost gave her twin tails)
  - She nearly became my sona until I decided she's too cool to be my sona
extras:
  - Wings can be optional, but it would be great if you still include them
  - She's kinda muscular, idk if it's easy to tell
  - her and Lavender together will be awesomesauce
---