---
layout: AFDesc.njk
style: >
  
name: Crystel 
pronouns: his
color: >
  #037863
height: 169
desc: A detective wannabe, hasn't solve much cases
lorefacts:
  - He encountered a strange, fluffy creature in an abandoned storage room one time, but it ran away before he could see it.
  - He is currently using that storage room as his office
  - He can collect magic essence around him using his powers, he uses this power for investigations
  - Often listens to Crystal about the people in the clan
metafacts: 
  - He is a somewhat old OC, dating back to 2016, he was meant to be Kyrea's best friend.
  - I split Crystal's initial concept into two, that's where I got Crystel from. I don't know why I made that decision, maybe I want Kyrea to have twins as friends idk
  - I imagined magnifying glass and detective elements when creating him.
extras:
---