---
layout: AFDesc.njk
name: Crystal 
pronouns: her
color: >
  #FFC07E
height: 156
desc: An oridinary, sociable girl, seems to know about the latest news around very quickly
lorefacts:
  - While she's often joyful and friendly, make sure not to disturb her at night, where she's concentrating drawing...
  - She does own a camera, but she only uses it for more special occasions
  - She sometimes help with Crystel's investigations, her attention to small details does help a lot
  - She can manipulate light with her powers, but she mainly uses it as flashlight
metafacts: 
  - She is a somewhat old OC, dating back to 2016, she was meant to be Kyrea's best friend.
  - All the older designs are all me trying to have fun with details and decorations.
  - She's supposed to have a camera motif, hence the crystal name, cuz glass and lens and stuff.
extras:
---