---
layout: AFDesc.njk
style: >
  
name: Ember 
pronouns: her
color: >
  #867100
height: 167
desc: An extroverted leader, trying to make a game event happen despite everything.
lorefacts:
  - She is considered a leader type, she's quite reliable when it comes to planning stuff
  - She's very sociable, gets along with most people quickly
  - Isn't afraid to stand out, and is brave to try new things!
  - Acts a bit less energetic in hot and/or humid weathers
  - Team Spark is her team name in the event she would hold, the icon is designed by her as well
metafacts: 
  - Has a pretty short concept-art-to-final-reference time gap, normally it takes me 2 years to get from drawing their first doodle to actually making their reference, but for her it's only four months
  - I got inspired by her wing-like ponytail, that's why she likes birds
  - Team Spark is a nod to a personal OC of mine, Spark. After I absentmindedly drew Ember's design, I liked her design so much that I made Spark's design to be quite similar as well. The name fits Ember as well, with the theme of fire and stuff.
extras:
---