---
layout: AFDesc.njk
style: >
  
name: Grey 
pronouns: his
color: >
  #3a8844
height: 174
desc: A gloomy yet kind-hearted guy, searching for his missing friends
lorefacts:
  - The gem is given by <a href="https://artfight.net/character/3947007.claire">Claire</a>
  - He has electric powers, using it too much isn't good for his health
  - Despite his friends are assumed dead, he is determined to find them
  - He often takes care of others, especially those younger than him
  - He accidentally burnt his coat, that why it is charred
  - Unfortunately, he is bad at Math
metafacts: 
  - He is one of my oldest OCs (along with Claire), but his current design looks nothing like his old one
  - This new design is inspired by his old name given by a friend
  - Claire and him were intended to be siblings, but after weird world-building stuff, they technically aren't
  - I still see them as siblings tho
  - His character motif is thunder and fog
extras:
  - His hair is actually a bit curly
---