---
layout: AFDesc.njk
style: >
  
name: Jaspers 
pronouns: his
color: >
  #ff4136
height: 189
desc: A guy who looks scary but is more scared than you. Is currently missing with three of his friends
lorefacts:
  - He was part of a club called Reach for the Stars, consisting him, the other three friends and Grey
  - He tended to avoid conflict
  - He spent a lot of time being alone and playing instruments before he first met his friends
  - He is not that talkative, but he enjoys his friends' company (and especially Claire ) a lot
  - He was quite bad at smiling, and gets unintentionally scary when he did
  - He is known to be very strong in physique
metafacts: 
  - He used to have a tank top, but I took it away because Cosmos is already wearing one
extras:
  - Feel free to ship him with <a href="https://artfight.net/character/3947007.claire">Claire</a> or <a href="https://artfight.net/character/3973386.solar">Solar</a>
---