---
layout: AFDesc.njk
style: >
  
name: Kaylee 
pronouns: her
color: >
  #cd8bb5
height: 160
desc: Contrary to what <a href="https://artfight.net/character/3130430.kyrea">Kyrea</a> expected, her opposite timeline self is not edgy and evil, but a boring ass person.
lorefacts:
  - Unlike Kyrea, Kaylee tries to be a perfect child who blends in with the crowd, and is ashamed of having any interests that is considered "cringe"
  - Kyrea is bewildered about this, and tries to convince her that to be cringe is to be free~
  - It turns out, Kaylee enjoys corny romance fics very much... which is something Kyrea did not enjoy, guess they might not get along at the end 😔
  - Hides cat ears and tail because it's cringe in the eyes of society or whatever
metafacts: 
  - When I was younger, I drew Kyrea having a evil self that does edgy bloody stuff lol
  - I think that Kyrea would wish to have a evil clone of her own, and that's why I think it'd be funny to make her evil clone a boring one
extras:
  - It will be great to make her interact with <a href="https://artfight.net/character/3130430.kyrea">Kyrea</a>!
  - No shipping or sexual content for this character pls 😣
---