---
layout: AFDesc.njk
style: >
  
name: Kyrea 
pronouns: her
color: >
  #FDC0E3
height: 160
desc: A girl who likes drawing and cats, oh and she plays Minecraft
lorefacts:
  - She's just a nerdy girl who plays Minecraft, really
metafacts: 
  - She was my sona and Minecraft skin
  - This design you are seeing now is the second major redesign
  - She is my oldest OC among my featured OCs (Made in 2015)
  - She is the first character I draw when I was reintroduced to art
extras:
  - It will be great to make her interact with <a href="https://artfight.net/character/7811372.kaylee-evil-kyrea">Kaylee</a>!
  - No shipping or sexual content for this character pls 😣
---