---
layout: AFDesc.njk
style: >
  
name: Lavender 
pronouns: her
color: >
  #BCA0CF
height: 168
desc: Used to be a powerful wizard, now living as an ordinary traveller, solving mysteries with a <a href="https://artfight.net/character/3131507.cosmos">friend</a>.
lorefacts:
  - She has trust issues, may take a while to feel comfortable around new people
  - Probably the type to enjoy tea
  - Despite losing her powers, she has useful advice for magic
  - She isn't very used to Cosmos' enthusiastic attitude, she still thinks Cosmos is a reliable and strong person
  - Was friends with <a href="https://artfight.net/character/3940681.mira">Mira</a>
metafacts: 
  - Her design originated from one of my dreams
  - And her color palette was very similar to Kyrea
  - There is another character that appeared with her in my dream (Mira)
extras:
  - Feel free to ship her with <a href="https://artfight.net/character/3940681.mira">Mira</a>
  - Drawing her and <a href="https://artfight.net/character/3131507.cosmos">friend</a> together will be awesomesauce
---