---
layout: AFDesc.njk
style: >
  
name: Mira 
pronouns: her
color: >
  #4cbe59
height: 154
desc: Was an aspiring hero to save the world, is now dead.
lorefacts:
  - She used to be friends with <a href="https://artfight.net/character/3138341.lavender">Lavender</a>
  - Mira is short for Miracle, but she prefers to be called Mira
  - She was actually unlucky, constantly getting injured in some way
  - But she believed that she could absorb others' misfortune, so that they can be luckier
metafacts: 
  - Her design originated from one of my dreams
  - Lavender also appeared there
  - Her motifs are luck, clover and hearts
extras:
  - Ship art and angst with <a href="https://artfight.net/character/3138341.lavender">Lavender</a> is welcome
  - Her hair length can be longer than what's shown in the ref if you think it makes your drawing look better
---