---
layout: AFDesc.njk
style: >
  
name: Penelope 
symbol: ♥
pronouns: her
color: >
  #dc8b0b
height: Maybe... 130
desc: A timid balloon dog, yet is the most hard-working member of the doll workshop
lorefacts:
  - Despite having no risk of being popped (she's made of fabric), She is afraid of sharp objects
  - She works in a place which protects a forgotten and broken universe
metafacts: 
  - While story building, she used to be part of a team with Cosmos
  - She is inspired by my tragic experience with a popped balloon during a school camp
extras:
  - If you want to put her in a mass attack, please avoid putting her in one drawing with more than 20 characters (To avoid making her too small to see)
---