---
layout: AFDesc.njk
style: >
  
name: Ruth 
pronouns: her
color: >
  #ff9870
height: 145
desc: Having lived in the forest for as long as she knew, after learning about magic, she decided to venture out and become a magical girl?!
lorefacts:
  - She grew up in the woods, probably even raised by a fox
  - She likes drawing, she even draw herself as a fox-cupid
  - She also enjoys reading mythologies and history books, that where she gathers inspiration
  - Her power is communicate with animals and befriend them
metafacts: 
  - She is created slightly later than Grey, but still older than majority of my OCs
  - She used to have very complex lore, but I forgot all of it
extras:
  - No shipping or sexual content for this character pls 😣
---