---
layout: AFDesc.njk
style: >
  
name: Solar 
pronouns: her
color: >
  #ff857a
height: 180
desc: A very arrogant knight with self-esteem issues, is currently missing with three of her friends.
lorefacts:
  - She was part of a club called Reach for the Stars, with Claire, Jaspers, and Grey
  - She cared about her looks a lot
  - Despite how her arrogance, she is actually quite insecure, especially when she sees someone who might be stronger than her
  - She saw Jaspers as an rival because of that
  - She was a bit of a perfectionist, and never slacked off
metafacts: 
  - I struggled with her design due to lore issues and I hate armor
extras:
  - Feel free to ship her with <a href="https://artfight.net/character/3947007.claire">Claire</a> or <a href="https://artfight.net/character/3971251.jaspers">Jaspers</a>
  - It is ok to draw her without armor! Not even I draw her armor often :3
---