---
layout: AFDesc.njk
style: >
  
name: Storyteller 
pronouns: her
symbol: ♥
color: >
  #f77bff
height: 166
desc: A weird person who decides to fuck around and break the fourth wall, just because.
lorefacts:
  - Despite being in a world of magic, she simply uses tricks and illusions for her colorful "magic", she says it's more interesting this way
  - She views this world as a story, and believes there are audiences watching her and others beyond the fourth wall.
  - However, she never faces our POV when she tries to break the fourth wall, as she does not know where we are
  - She entering the workshop is completely accidental, but she stayed here out of curiosity
  - Her design is drawn with eyes in mind, symbolising the audience watching the show
metafacts: 
  - She is created in a dream in 5 March 2018 which is about a girl (Luna, aka her old name) and boy (Leo) stumbling into a secret doll factory under a tree, and they got attacked by a robot cat
  - She is somewhat inspired by Timekeeper Cookie and Shadow Milk Cookie, is it even a good thing?
extras:
  - While she's from the Dreamland Workshop category, it'd be cool for her to interact with other characters!
---