---
layout: AFDesc.njk
style: >
  
name: Wolf 
pronouns: his
color: >
  #e82a1f
height: 176
desc: Cringefail loser, an annoyance and a comic relief most of the time, but oddly reliable sometimes.
lorefacts:
  - He has a friend called Raven, but something seemed to have happened between the two...
  - His magic enhancement gloves are gifted by Raven
  - Acts tough, but is very sensitive to other people's opinions
  - He is a water-type magic user, perhaps he can alter his body a bit during combat, becoming more agile and fluid like water
  - Also he has a special ability but he doesn't like using outside of emergencies (It is healing)
  - He set out adventure with Lavender's team since he wanted to find evidence that Sky Pioneer is hiding something, what he didn't know is someone in the team knows a lot about its founder...
metafacts: 
  - He is based off my childhood OCs, which were based off my school bullies LOL
  - He and Raven are planned to be Lavender's travel companions initially (like, back in 2021-ish), now it's just Wolf here
  - He is named Wolf because from what I know, wolves tend to have close relationship with ravens
extras:
---