---
layout: BlogIndex.njk
poll: >
    <br>- Lavender+Bun <span style="height: 1em;width: 75px;display: inline-block;border: 1px solid;vertical-align: text-top;margin-left: 5px;border-radius: 5px;overflow:hidden;position: relative;--percent:50%;">
    <span style="margin:auto;position: absolute;z-index:1;font-size: 0.8em;width: inherit;text-align: center;line-height: 1.3;background: linear-gradient(to right, var(--blue) var(--percent), #3f6884 var(--percent));-webkit-text-fill-color: transparent;background-clip: text;">50%</span>
    <span style="height:100%;width:var(--percent);background:linear-gradient(90deg,#3f6884,#f3e3b8 110%);display:block;"></span>
    </span>
    <br>> Cosmos > Jaspers > Lavender >
    <br>Lavender > Cosmos > Lavender+Mira+Ruth >
    <br>Lavender > Jaspers > Ruth > Ruth >
    <br>Grey > Cosmos > Cosmos > Solar >
    <br>Jaspers > Ruth
---
