section.wide {
    margin: 0px auto;
  }
#pagenum, .arttop{
  text-indent: 0;
    font-size: 1.5em;
    line-height: 1.5;
    display: block;
    width: fit-content;
    margin: 0.75em auto;
    background: var(--gradient);
    padding: 5px 10px;
    border-radius: 5px;
    filter: var(--dropshadow);
    color: var(--blue);
    text-align: center;
}
#page{
  border: 2px solid var(--blue);
  border-radius: 5px;
}
#page input{
  font-size: inherit;
  background: none;
  color: var(--blue);
  border: none;
  width: 70px;
  padding: 0 7.5px;
}
#pagenum #page button{
  background: var(--blue);
  color: var(--lteal);
  text-decoration: none;
}
#pagenum .movepage{
  font-size: 0.75em;
}
#pagenum button{
  text-decoration: underline;
  cursor: pointer;
  background: none;
  border: none;
  font-size: inherit;
  margin: 0;
  color: var(--blue);
  transition: color 0.5s;
  padding: 2px 6px;
}
#pagenum button:hover, .arttop a:hover{
  color: var(--teal);
}
.arttop{
  display:none;
  margin-bottom: 0.25em;
}
.arttop a{
  margin: 5px;
  color: var(--blue);
}
@media(max-width:700px){
	.arttop {
    display: block;
}
}
#fra{
    border: 7.5px double var(--teal);
    width:100%;
    box-sizing: border-box;
  border-radius: 7.5px;
  height:auto;
  aspect-ratio: 1280 / 652;
  padding:5px;
}
.row{
  display: flex;
  flex-wrap: wrap;
  border: 7.5px double var(--teal);
  margin: 15px auto;
  border-radius: 5px;
    display:none;
  }
  .row:first-child{
    display:flex;
  }
.row{
  border:none;
  margin:0;
}

.col {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col:has(img[src='']){
    display:none;
  }
#thumbnail {
background: var(--gradient);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  filter: var(--dropshadow);
  color: var(--blue);
  text-align: center;
  display: none;
}
#thumbnail button:not(.coolbutton) {
  background: none;
  border: 1px solid;
  color: var(--blue);
  border-radius: 2.5px;
  margin: 0 5px;
}
#thumbnail input{
  width: 50px;
  height: fit-content;
  margin: 0 5px;
}
#thumbnail center{
  color:var(--blue);
}
@media (max-width: 1200px){
  .col {
    flex: 0 0 20%;
    max-width: 20%;
  }
}

@media (max-width: 1000px){
  .col {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (max-width: 800px){
  .col {
    flex: 0 0 33%;
    max-width: 33%;
  }
}
@media (max-width: 600px){
  .col{
    flex: 0 0 50%;
    max-width: 50%;
  }
}