:root{
  --yellow:#f3e3b8;
  --lteal:#8cacac;
  --highlightteal:#9cc3dfab;
  --teal:#3f6884;
  --blue:#2d3758;
  --dblue:#1b1d4c;
  --bg:#637b8759, #7750c359 150%;
  --shadow:#1a38748c;
  --boxdark:#b9907796;
  --gradient1:#8dc5ee78;
  --gradient2:#aecee633;
  --gradient:linear-gradient(var(--gradient1),var(--gradient2));
  --dropshadow:drop-shadow(2px 2px 1px var(--shadow));
}