:root{
  --yellow:#E2DBC7;
  --lteal:#9db5b7;
  --highlightteal:#B7CBD6;
  --teal:#1C3F5C;
  --blue:#0E1A36;
  --dblue:#000527;
  --shadow:#1b357082;
  --boxdark:#b9907796;
  --bg:#0b263b75, #1f084e73;
  --gradient1: #228bff3b;
  --gradient2: #9eccff24;
  --gradient:linear-gradient(var(--gradient1),var(--gradient2));
  --dropshadow:drop-shadow(2px 2px 1px var(--shadow));
}