  :root{
    --yellow:white;
  }
  .page-wrapper{
    background: linear-gradient(#08023459, #7750c359 150%), url(../../fancy1.png);
  }
  .box{
box-shadow: 4px 4px 4px 2px var(--shadow);
border-radius: 2.5px;
background-image: url(../../paper-texture.png);
  }
h1,h2{
  text-shadow: 1px 1px var(--lteal);
}
p.tags{
    text-indent: 0;
    font-size:0.90em;
  }
  line{
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: 1.5px;
    display:inline-block;
    margin: 0 2px;
  }
  line.warning{
    color:#b81212;text-decoration-color:#b81212;
  }