:root{
  --teal:white;
  --boxdark:var(--dblue);
}
article{
background:var(--blue);
box-shadow: 4px 4px 4px 2px var(--shadow), inset 0 50px 50px -20px var(--dblue), inset 0 -50px 50px -20px var(--dblue);
}
.artsum{
display:flex;
flex-wrap: wrap;
border-radius:5px;
padding:10px;
}
.drawing{
flex: 0 0 25%;
max-width: 25%;
}
h1{
text-align: center;
color:white;
}
.drawing h1 {
color: white;
border-bottom: 1.75px dashed var(--lteal);
margin: 12.5px 5px;
padding-bottom: 10px;
}
.artborder {
border:none;
aspect-ratio: auto;
border-radius:0;
border: 3px double white;
}
.artborder img{
aspect-ratio: auto;
border-radius:0;
box-sizing: border-box;
}
.artborder:hover {
color: var(--teal);
}
.center{
aspect-ratio: 5/7;
align-items: center;
display: flex;
background:var(--highlightteal);
margin:5px;
padding:2.5px;
border-radius: 5px;
}
@media(max-width:1000px){
.drawing{
flex: 0 0 50%;
max-width: 50%;
}
}
@media(max-width:700px){
.artsum, .center{
display:block;
}
.center {
aspect-ratio:auto;
}
.drawing {
max-width: 100%;
}
.artborder{
aspect-ratio: auto;
}
}