---
layout: Comic.njk
title: All Roads Lead to Home
sample:
  - {'img':'link', 'desc':'<p></p>'}
panels: 
  - {'img':'https://dl.dropboxusercontent.com/scl/fi/wnyiydg2rod1n8ncw0706/IMG_0505_2026-Aug-18.webp?rlkey=utcl7ozh3aqt0gjl7f5q8p2hx&raw=1', 'desc':'<p>Ruth: My bus is late today... It&apos;s hot outside</p><p><i>A bus arrives, the sign writes &quot;To Home, Via Town, XXX&quot;</i></p><p>Ruth: Not the bus I often go... But it arrives at the same destination.</p>'}
  - {'img':'https://dl.dropboxusercontent.com/scl/fi/mkjdco7ed9pqznqjiuqvo/IMG_0506_2026-Aug-18.webp?rlkey=it3nmgu6esoiuoz66f4l3e7d9&raw=1', 'desc':'<p><i>Ruth Jumps into the bus</i></p><p>Ruth: This bus route should be fine, right?</p><p><i>Two hours later...</i></p><p>I should&apos;ve been home an hour ago...</p>'}
  - {'img':'https://dl.dropboxusercontent.com/scl/fi/juaeqlctuk9os07e8i8w0/IMG_0507_2026-Aug-18.webp?rlkey=grh41mlvrnn6f7gpvmyq37vhm&raw=1', 'desc':'<p>Ruth: What are those weird station names??</p><p><i>Stop names: Midal Ofnou Airland, 404, and 直上天堂 (Straight to Heaven)</i></p><p>Ruth: Where AM I???</p><p><i>Outside of bus shows the backrooms</i></p>'}
  - {'img':'https://dl.dropboxusercontent.com/scl/fi/tvi3mqd9jpzsfwjv78ytx/IMG_0508_2026-Aug-18.webp?rlkey=q168ghf9knq95mhopzzky2wyf&raw=1', 'desc':'<p><i>4 hours later, the sky is fully dark</i></p><p>Ruth: At least I got home...</p>'}
date: 2026-08-17
---

<p>All roads lead to Rome, but one takes you there in 30 minutes, the other stops at 100 stations until it actually arrives at night.</p>